<div class="modal-content">
    <div class="modal-header">
        
        <h4 class="modal-title">SEGUIMIENTO DE ANÁLISIS</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
<br>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tabla">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px;">TIPO DE EXAMEN</th>
                                                <th class="text-center column_1">
                                                    <label class="">FECHA</label>
                                                    

                                                </th>
                                                <th class="text-center column_2">
                                                    <label class="">RESULTADO / OTRAS REFERENCIAS</label>
                                                    

                                                </th>
                                                <th class="text-center column_3">
                                                    <label class="">CHECKLIST</label>
                                                    

                                                </th>
                                                <th class="text-center column_4">
                                                    <label class=""> </label>
                                                    

                                                </th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">FSH / LH0</label>
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">TSH</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">T4L / T3L</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                                
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">ESTRADIOL</label>
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">AMH</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">GLUCOSA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">INSULINA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label
                                                        class="font-weight-bold">PROLACTINA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">HEMOGRAMA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">TS / TC</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">HEPATITIS A/B/C</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">CLAMIDIA IGM</label>
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">EXAMEN COMPLETO DE ORINA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">UREA / CREATININA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">UROCULTIVO</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">RPR CUALITATIVO/CUANTITATIVO</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">HIV</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">BHCG</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">TIEMPO DE CUAGULACION</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">SANGRIA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">GRUPO RH</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">EXOGRAFIA TRANSVAGINAL</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">SONOHISTEROGRAFIA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">HISTEROSALPINGOGRAFIA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">HISTEROSCOPIA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">MAMOGRAFIA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox" id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">IVAA</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox"  id="fecha_3">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="font-weight-bold">PAP</label></td>
                                                <td>
                                                    <input type="date" class="form-control">
                                                </td>
                                                <td class="column_2">
                                                    <input type="text" class="form-control">
                                                    
                                                </td>
                                                <td class="column_3">
                                                    <input type="checkbox">
                                                </td>
                                                <td class="column_4">
                                                    
                                                </td>
                                                <td style="width: 50px;"></td>
                                            </tr>
                                            

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="grafico">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <canvas id="ganancia_peso"></canvas>
                                    </div>
                                    <div class="col-md-6">
                                        <canvas id="incremento_altura_uterina"></canvas>
                                    </div>
                                    <div class="col-md-6">
                                        <canvas id="can_peso_fetal"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger close-modal">Cancelar</button>
    </div>
</div>