<div class="modal-content">
    <div class="modal-header">
        
        <h4 class="modal-title">SEGUIMIENTO DE ANÁLISIS</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>				
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha atención : </label> <span>{{fecha | date : 'dd/MM/YYYY'}}</span>
                        </div>
                    </div>															
                </div>
            </div>	
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p-table
                        [value]="rows"
                        
                        [style]="{ width: '100%' }"
                    >
                    <ng-template pTemplate="header">
                        <tr>
                        <th>TIPO DE EXAMEN</th>
                        <th>FECHA</th>
                        <th>RESULTADO / OTRAS REFERENCIAS</th>
                        <th>AÑADIR</th>
                        <th>ELIMINAR</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                        <tr>
                            <!-- Editable Tipo de Examen -->
                            <td [pEditableColumn]="row.tipoExamen">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input
                                        type="text"
                                        [(ngModel)]="row.tipoExamen"
                                        class="form-control"
                                        formControlName="inputTipoExamen"
                                        />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ row.tipoExamen }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Editable Fecha -->
                            <td [pEditableColumn]="row.fecha">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input
                                        type="date"
                                        [(ngModel)]="row.fecha"
                                        class="form-control"
                                        formControlName="inputFecha"
                                        />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ row.fecha | date: 'yyyy-MM-dd' }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Editable Resultado -->
                            <td [pEditableColumn]="row.resultado">
                                <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                    type="text"
                                    [(ngModel)]="row.resultado"
                                    class="form-control"
                                    formControlName="inputResultado"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ row.resultado }}
                                </ng-template>
                                </p-cellEditor>
                            </td>
                            <!-- Botón para agregar fila -->
                            <td>
                                <button
                                type="button"
                                class="btn btn-success btn-sm"
                                (click)="agregarFila(rowIndex)"
                                >
                                <i class="fas fa-plus"></i>
                                </button>
                            </td>
                            <!-- Botón para eliminar fila -->
                            <td>
                                <button
                                type="button"
                                class="btn btn-danger btn-sm"
                                (click)="eliminarFila(rowIndex)"
                                >
                                <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>

                </div>
    
            </div>
        </form>
        
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="esVisible" class="btn btn-green-custom" (click)="Guardar()"><i class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <button type="button" class="btn btn-danger close-modal" (click)="CerrarModal()">Cerrar</button>
    </div>
</div>