<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">CONTROL DE PRESIÓN</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" novalidate="novalidate" [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nombre Paciente:</label><span> Paciente Prueba Validaciones</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-6">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Edad:</label><span> 22 años</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-6">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Sexo:</label><span> Femenino</span>
                        </div>
                    </div>                    
                </div>
            </div>            

            <div id="seccion-medidas">
                <h6>Medidas Antropométricas*</h6>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group mb-3">
                            <!-- <label class="cform-label">Medidas Antropométricas*</label> -->
                            <div class="row">
                                <div class="col-4">
                                    <label class="cform-label">Fecha</label>
                                    <p-calendar 
                                    placeholder="dd/mm/aaaa" 
                                    formControlName="inputFecha"
                                    styleClass="w-full block" 
                                    inputStyleClass="w-full"
                                    [iconDisplay]="'input'" 
                                    [showIcon]="true" 
                                    inputId="icondisplay"/>
                                </div>
                                <div class="col-8">
                                    <label class="cform-label">PA (Sistolica/diastolica) (mmHg)</label>
                                    <p-inputGroup class="w-full md:w-30rem">
                                        <input type="number" step="any" class="form-control" id="" formControlName="inputPASistolica">
                                        <p-inputGroupAddon>/</p-inputGroupAddon>
                                        <input type="number" step="any" class="form-control" id="" formControlName="inputPADiastolica">
                                    </p-inputGroup>
                                </div>  
                                <div class="col-4">
                                    <label class="cform-label">FR (min)</label>
                                    <input type="number" step="any" class="form-control" id="" formControlName="inputFR">
                                </div>
                                <div class="col-4">
                                    <label class="cform-label">Pulso</label>
                                    <input type="number" step="any" class="form-control" id="" formControlName="inputPulso">
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    <button type="button" class="btn btn-sm btn-green-custom mt-3" (click)="AgregarMedidasPresion()">+ AGREGAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-striped">
                                <thead class="text-center">
                                    <tr>
                                        <th>FECHA</th>
                                        <th>PA (mmHg)</th>
                                        <th>FR (min)</th>
                                        <th>PULSO</th>
                                        <th>ESTADO</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of medidasPresion; let i = index">
                                        <td>{{ p.fecha }}</td>
                                        <td><input type="text" class="form-control" disabled value="{{ p.pa }}"></td>
                                        <td><input type="text" class="form-control" disabled value="{{ p.fr }}"></td>
                                        <td><input type="text" class="form-control" disabled value="{{ p.pulso }}"></td>
                                        <td>{{ p.estado }}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm" title="Eliminar"
                                            (click)="EliminarFila(i)"><i class="fas fa-lg fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                       
                    </div>
                </div>

                <h6>Plan de Trabajo</h6>
                <div class="row">
                    <div class="col-12">
                        <textarea name="" id="" class="form-control" rows="4"></textarea>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-dismiss="modal"><i
                class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>