<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">SIGNOS Y ALARMAS</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button> 
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente :&nbsp; </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL :&nbsp; </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha :&nbsp;&nbsp; </label> <span>{{fechaActual}}</span>
                        </div>
                    </div>															
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico :&nbsp; </label> <span>{{medico}}</span>
                        </div>
                    </div>														
                </div>
            </div>
            <hr/>	
    
        
            <div class="row mb-3 bg-green-custom">SIGNOS DE ALARMA ACTUAL</div>	
            <br>
            <div class="row">
                <div class="col-xl-12">
                    
                </div>

            </div>
            <hr/>	

            <p-accordion>
                <p-accordionTab
                  *ngFor="let item of objSignosAlarmas"
                  [header]="'' + (item.FechaRegistroPaciente | date: 'dd/MM/yyyy HH:mm')"
                >
                  <div class="p-fluid grid">
                    <!-- Médico -->
                    <!-- <div class="field col-12">
                      <label for="medico">Médico</label>
                      <input type="text"
                       pInputText
                        [(ngModel)]="item.Medico"
                        [ngModelOptions]="{standalone: true}" />
                    </div> -->
              
                    <!-- Comentario del Paciente -->
                    <div class="field col-6">
                      <label for="comentarioPaciente">Comentario del Paciente</label>
                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="item.ComentarioPaciente"
                        formControlName="inputComentarioPaciente"
                        [readOnly]="esLectura"
                      />
                    </div>
              
                    
              
                    <!-- Signos -->
                    <div class="field col-6">
                      <label>Signos</label>
                      <ul>
                        <li *ngFor="let signo of item.Signos">
                          <input
                            type="text"
                            pInputText
                            [(ngModel)]="signo.Nombre"
                            style="width: 100%"
                            formControlName="inputSignos"
                            [readOnly]="esLectura"
                          />
                        </li>
                      </ul>
                    </div>

                    <!-- Comentario del Médico -->
                    <div class="field col-11">
                      <label for="comentarioMedico">Comentario del Médico</label>
                      <br>
                      <label>{{item.FechaRegistroMedico  | date : 'dd/MM/YY HH:mm'}}</label>
                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="item.ComentarioMedico"
                        formControlName="inputComentarioMedico"
                        [readOnly]="esLecturaMedico"
                      />
                    </div>
                    <div class="field col-1" *ngIf="idRol==1">
                      <label for="comentarioMedico">Responder</label>
                      <button type="button" class=" btn btn-green-custom" (click)="Responder(item)"><i class="fas fa-lg fa-fw me-2 fa-plus"></i></button>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
              <hr/>
              <div class="row" *ngIf="idRol!=1">
                <h3>Agregar Nuevo</h3>
                <br>
                <div class="col-xl-6">
                    <div class="form-group mb-3">
                        <label class="form-label mb-3">SIGNOS</label>
                        <div>
                            <p-multiSelect 
                                [options]="signos" 
                                [(ngModel)]="selectedSignos" 
                                placeholder="Seleccione las opciones" 
                                optionLabel="nombre" 
                                display="chip" 
                                formControlName="inputSignoAlarma"
                                [showClear]="true" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="form-group mb-3">
                        <label class="form-label mb-3">Comentarios Adicionales</label>
                        <textarea type="text" class="form-control" formControlName="inputComentario" cols="3"></textarea>
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="form-group mb-3 mt-4 pt-1">													
                        <button type="button" class="btn btn-green-custom" (click)="Agregar()"><i class="fas fa-lg fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <hr/>
        </form>
        <br>
        <br>
    </div>
    
    <div class="modal-footer">
     				
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-target="#modalXl" data-bs-dismiss="modal" (click)="Guardar()"><i class="fas fa-lg fa-fw me-2 fa-file-alt" ></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-lg fa-fw me-2 fa-file-pdf"></i>Imprimir</button> -->
        <button type="button" class="btn btn-danger" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
      </div>
</div>