<div class="modal-content">
<div class="modal-header">
    <h4 class="modal-title">KÁRDEX </h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">							
    <form>
        <div id="header-component">
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Paciente : </label> <span>Maritza Córdova Juarez</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Nro. HCL : </label> <span>75488545</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Fecha : </label> <span>22/03/2022</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Hora : </label> <span>08:30 am</span>
                    </div>
                </div>																
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Estado civil : </label> <span>Soltero</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Edad : </label> <span>28 años</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Sexo : </label> <span>Femenino</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Tipo paciente : </label> <span>Particular</span>
                    </div>
                </div>																
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Nro. de cama : </label> <span>405</span>
                    </div>
                </div>
                <div class="col-xl-3">									
                    <div class="form-group mb-3">
                        <label class="fw-bold">Nro CTA. CTE.: </label> <span>987454545</span>
                    </div>
                </div>
            </div>
        </div>						
        <hr/>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group mb-3">
                    <label class="cform-label" for="">Servicio</label>	
                    <div class="input-group">
                        <input type="text" class="form-control" id="" readonly>
                        <button type="button" class="input-group-text btn-green-custom" for="">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group mb-3">
                    <label class="cform-label" for="">Médico tratante</label>	
                    <div class="input-group">
                        <input type="text" class="form-control" id="" readonly>
                        <button type="button" class="input-group-text btn-green-custom" for="">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group mb-3">
                    <label class="cform-label" for="">Tipo de intervención quirúrgica</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">Hora de ingreso</label>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">Hora de egreso</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 bg-green-custom">HOSPITALIZACIÓN</div>
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group mb-3">
                    <label class="cform-label" for="">Fecha de ingreso</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group mb-3">
                    <label class="cform-label" for="">Hora de ingreso</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group mb-3">
                    <label class="cform-label" for="">Fecha de egreso</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group mb-3">
                    <label class="cform-label" for="">Hora de egreso</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xl-11">
                <div class="form-group mb-3">
                    <label class="cform-label">Diagnóstico pre sop </label>
                    <textarea type="text" class="form-control" id="" rows="3"></textarea>
                </div>
            </div>
            <div class="col-xl-1">
                <div class="form-group mb-3 mt-4 pt-1">													
                    <button type="button" class="btn btn-green-custom"><i class="fas fa-lg fa-plus"></i></button>
                </div>
            </div>
        </div>
        <br>
        <div class="row box-shadow">
            <div class="col-xl-12 fw-bold">02/02/2022 - 08:13:25</div>
            <div class="col-xl-10">sop 001</div>
            <div class="col-xl-2 text-right">
                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
            </div>
        </div>
        <br>
        <div class="row box-shadow">
            <div class="col-xl-12 fw-bold">02/02/2022 - 08:13:25</div>
            <div class="col-xl-10">sop 002</div>
            <div class="col-xl-2 text-right">
                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xl-11">
                <div class="form-group mb-3">
                    <label class="cform-label">Diagnóstico post sop </label>
                    <textarea type="text" class="form-control" id="" rows="3"></textarea>
                </div>
            </div>
            <div class="col-xl-1">
                <div class="form-group mb-3 mt-4 pt-1">													
                    <button type="button" class="btn btn-green-custom"><i class="fas fa-lg fa-plus"></i></button>
                </div>
            </div>
        </div>
        <br>
        <div class="row box-shadow">
            <div class="col-xl-12 fw-bold">02/02/2022 - 08:13:25</div>
            <div class="col-xl-10">post sop 001</div>
            <div class="col-xl-2 text-right">
                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
            </div>
        </div>
        <br>
        <div class="row box-shadow">
            <div class="col-xl-12 fw-bold">02/02/2022 - 08:13:25</div>
            <div class="col-xl-10">post sop 002</div>
            <div class="col-xl-2 text-right">
                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
            </div>
        </div>
        <div class="mb-3 mt-3 bg-green-custom">DESCRIPCIÓN DE TRATAMIENTO</div>
        <div class="col-xl-12">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>														
                            <th scope="col">Tratamiento</th>
                            <th scope="col">Vía</th>
                            <th scope="col">Frecuencia</th>
                            <th scope="col">Ver hora</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>														
                            <td>Paracetamol</td>
                            <td>Oral</td>
                            <td>Cada 8 Horas</td>
                            <td><button type="button" class="btn btn-green-light-custom btn-sm" data-bs-toggle="modal" data-bs-target="#modal-diagnosticos"><i class="fas fa-clock"></i></button></td>
                            <td>2022-02-04</td>														
                        </tr>
                        <tr>														
                            <td>penicilina</td>
                            <td>Intra Muscular</td>
                            <td>Cada 14 Horas </td>
                            <td><button type="button" class="btn btn-green-light-custom btn-sm" data-bs-toggle="modal" data-bs-target="#modal-diagnosticos"><i class="fas fa-clock"></i></button></td>
                            <td>2022-02-04</td>														
                        </tr>
                        <tr>														
                            <td>Cloroferamina</td>
                            <td>Oral</td>
                            <td>Cada 12 Horas</td>
                            <td><button type="button" class="btn btn-green-light-custom btn-sm" data-bs-toggle="modal" data-bs-target="#modal-diagnosticos"><i class="fas fa-clock"></i></button></td>
                            <td>2022-02-04</td>														
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group mt-3">
                <label class="cform-label" for="">Total medicamentos</label>
                <input type="text" class="form-control" rows="2" placeholder="3" readonly/>
            </div>
        </div>

        <div class="modal fade" id="modal-diagnosticos" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipo diagnósico</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="col-xl-12">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    00:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    01:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    02:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    03:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    04:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    05:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    06:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    07:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    08:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    09:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    10:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    11:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    12:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    13:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    14:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    15:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    16:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    17:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    18:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    19:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    20:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    21:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    22:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    23:00
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label">
                                    24:00
                            </label>
                        </div>
                        
                        
                    </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-green-custom" onclick="salirTipodiagnostico()" ><i class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
                    <button type="button" class="btn btn-danger" onclick="salirTipodiagnostico()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
                </div>
                </div>
            </div>
        </div>


        <div class="mb-3 mt-3 bg-green-custom">Oxigeno</div>
        <label class="cform-label" for=""> <strong>Tiempo de Tratamiento:</strong><span>&nbsp; 2 horas</span></label>
        <div class="row">
            <div class="col-xl-11">
                <div class="row">
                    <div class="col-xl-2">
                        <label class="form-label" for=""> <strong>Día</strong> </label>
                        <div class="form-group mb-3">
                            <label class="form-label" for="">Fecha inicio</label>
                            <input type="text" class="form-control" placeholder="dd/mm/yyyy"/>
                        </div>
                    </div>
                    <div class="col-xl-10">
                        <label class="form-label" for=""> <strong>Hora</strong> </label>
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="form-group">
                                    <label class="form-label" for="">Hora de inicio</label>
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="form-group">
                                    <label class="form-label" for="">Hora de termino</label>
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-xl-1">
                                <div class="mt-4 pt-1">
                                    <button type="button" class="btn btn-green-custom">
                                        <i class="fas fa-lg fa-plus"></i>
                                    </button>
                                </div>						
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box-shadow">
            <div class="col-xl-12 fw-bold">Fecha : 02/02/2022</div>
            <div class="col-xl-2"> <strong>Horas inicio: </strong>08:10:25</div>
            <div class="col-xl-2"> <strong>Horas termino: </strong>08:10:25</div>
            <div class="col-xl-8 text-right">
                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
            </div>
        </div>
        <div class="mb-3 mt-3 bg-green-custom">Descripción de la dieta</div>
        <div class="row">
            <div class="col-xl-11">
                <div class="row">
                    <div class="col-xl-2">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">Dieta</label>
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">Indicacion</label>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">Cuidado de enfermera</label>
                            <textarea type="text" class="form-control"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1">
                <div class="mt-4 pt-1">
                    <button type="button" class="btn btn-green-custom me-2">
                        <i class="fas fa-lg fa-plus"></i>
                    </button>
                </div>						
            </div>
        </div>
        <br>
        <div class="row box-shadow">
            <div class="col-xl-12 fw-bold">02/02/2022 - 08:13:25 , <Strong> Dieta:</Strong></div>
            <div class="col-xl-10"> <strong>Cuidado de enfermera: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id dui risus. In ac enim mi. Sed ac nibh id lacus maximus consectetur. Suspendisse potenti. Vivamus luctus vitae tellus iaculis tincidunt. In non tempus sem, non laoreet risus. Nullam faucibus pharetra lacinia. Etiam faucibus lorem nulla, sed ultricies metus pharetra vel. Donec scelerisque, nunc vitae finibus rutrum, mauris quam suscipit nibh, et vehicula sapien quam in nibh</div>
            <div class="col-xl-2 text-right">
                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
            </div>
        </div>
        <div class="mb-3 mt-3 bg-green-custom">EXAMENES COMPLEMENTARIOS</div>
        <div class="col-xl-12">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>														
                            <th scope="col">Tipo de orden</th>
                            <th scope="col">Categorias</th>
                            <th scope="col">Estudio</th>
                            <th scope="col">Indicaciones</th>
                            <th scope="col">check</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>														
                            <td>Laboratorio</td>
                            <td>Bioquimica</td>
                            <td>Amilasa, Glucosa</td>
                            <td>Indicaciones 01</td>
                            <td><input type="checkbox" class="form-check-input" id=""></td>														
                        </tr>
                        <tr>														
                            <td>Imágenes</td>
                            <td>Rayos-X</td>
                            <td>Tórax</td>
                            <td>Indicaciones de imagenes</td>
                            <td><input type="checkbox" class="form-check-input" id=""></td>															
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">							
    <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-target="#modal-hospitalizacion"  data-bs-dismiss="modal"><i class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
    <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>
