<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">CHAT</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button> 
    </div>
    <div class="modal-body">
          <div class="chat-container">
            <div class="messages">
              <div *ngFor="let msg of messages">
                <strong>{{ msg.user }}:</strong> {{ msg.message }}
              </div>
            </div>
            <div class="input-area">
              <input [(ngModel)]="user" readonly>
              <input [(ngModel)]="message" placeholder="Tu mensaje">
              <button class="sstf" (click)="sendMessage()">Enviar</button>
            </div>
          </div>
    </div>
    <div class="modal-footer">							
        
      <button type="button" class="btn btn-danger" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>

