<div class="container-spinner" *ngIf="verSpinner">
    <div class="spinner-border text-primary"></div>
  </div>
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">NOTAS DE ENFERMERA </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">							
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha : </label> <span>{{fechaHoy| date: 'dd-MM-yyyy'}}</span>
                        </div>
                    </div>															
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>															
                </div>
            </div>
            <hr/>
            <div id="seccion-signos-vitales">								
                <div class="row mb-3 bg-green-custom" a="">1. SIGNOS VITALES</div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group mb-3">
                                    <label class="cform-label">T(Cº)</label>
                                    <input type="text" class="form-control" formControlName="inputTemperatura">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group mb-3">
                                    <label class="cform-label">FC(min)</label>
                                    <input type="text" class="form-control" formControlName="inputFrecuenciaCardiaca">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="cform-label">PA (Sistólica/diastólica) (mmHg)</label>
                            <div class="btn-group">
                                <input type="text" class="form-control" formControlName="inputSistolica">
                                <input type="text" class="form-control" id="" readonly="" placeholder="/" style="width: 33px;">
                                <input type="text" class="form-control" formControlName="inputDiastolica">
                            </div>											
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="cform-label">Sat. O2(%)</label>
                            <input type="text" class="form-control" formControlName="inputSaturacion">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="cform-label">FR (x min)</label>
                            <input type="text" class="form-control" formControlName="inputFrecuenciaRespiratoria">
                        </div>
                    </div>
                </div>
            </div>
            <div id="seccion-soapie">								
                <div class="row mb-3 bg-green-custom" a="">2. SOAPIE</div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">Subjetivos</label>
                            <input type="text" class="form-control" formControlName="inputSubjetivos">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">Objetivos</label>
                            <input type="text" class="form-control" formControlName="inputObjetivos">
                        </div>
                    </div>
                </div>
                <h6>INTERVENCIONES</h6>
                <div class="row">
                    <div class="col-xl-11">
                        <div class="form-group mb-3">
                            <label class="cform-label">Medicación</label>
                            <textarea type="text" class="form-control" formControlName="inputMedicacion" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="form-group mb-3 mt-4 pt-1">													
                            <button type="button" class="btn btn-green-custom" (click)="AgregarMedicacion()"><i class="fas fa-lg fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoMedicacion; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
                <hr/>
                <div class="row">
                    <div class="col-xl-11">
                        <div class="form-group mb-3">
                            <label class="cform-label">Procedimiento</label>
                            <textarea type="text" class="form-control" formControlName="inputProcedimiento" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="form-group mb-3 mt-4 pt-1">													
                            <button type="button" class="btn btn-green-custom" (click)="AgregarProcedimiento()"><i class="fas fa-lg fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoProcedimiento; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
                <hr/>
                <div class="row">
                    <div class="col-xl-4 mt-1">
                        <h6> DIAGNÓSTICO DE ENFERMERIA</h6>
                    </div>
                    <div class="col-xl-8 text-right">
                        <button type="button" class="btn btn-green-custom" (click)="AgregarDiagnostico()"><i class="fas fa-lg fa-plus"></i></button>
                    </div>
                </div>
                <br>
                <textarea type="text" class="form-control" formControlName="inputDiagnosticoEnfermera" rows="3"> </textarea>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoDiagnostico; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
                <hr/>
                <div class="row">
                    <div class="col-xl-4 mt-1">
                        <h6>PLANTEAMIENTO</h6>
                    </div>
                    <div class="col-xl-8 text-right">
                        <button type="button" class="btn btn-green-custom" (click)="AgregarPlanteamiento()"><i class="fas fa-lg fa-plus"></i></button>
                    </div>
                </div>
                <br>
                <textarea type="text" class="form-control" formControlName="inputPlanteamiento" rows="3"> </textarea>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoPlanteamiento; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <hr/>
                <h6>OCURRENCIAS</h6>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="cform-label">Hora</label>
                            <input type="time" class="form-control" formControlName="inputHora">
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="form-group mb-3">
                            <label class="cform-label">Descripción</label>
                            <textarea type="text" class="form-control" formControlName="inputDescripcion" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="form-group mb-3 mt-4 pt-1">													
                            <button type="button" class="btn btn-green-custom" (click)="AgregarOcurrencia()"><i class="fas fa-lg fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoOcurrencia; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
                <hr/>
                <h6>PENDIENTES</h6>
                <div class="row">
                    <div class="col-xl-11">
                        <div class="form-group mb-3">
                            <label class="cform-label">&nbsp;</label>
                            <textarea type="text" class="form-control" formControlName="inputPendientes" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="form-group mb-3 mt-4 pt-1">													
                            <button type="button" class="btn btn-green-custom" (click)="AgregarPendientes()"><i class="fas fa-lg fa-plus"></i></button>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoPendiente; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
                <hr/>
                <h6>EVALUACIÓN</h6>
                <div class="row">
                    <div class="col-xl-11">
                        <div class="form-group mb-3">
                            <label class="cform-label">&nbsp;</label>
                            <textarea type="text" class="form-control" formControlName="inputEvaluacion" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="form-group mb-3 mt-4 pt-1">													
                            <button type="button" class="btn btn-green-custom" (click)="AgregarEvaluacion()"><i class="fas fa-lg fa-plus"></i></button>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoEvaluacion; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
                <hr/>
                <h6>EGRESOS</h6>
                <div class="row">
                    <div class="col-xl-11">
                        <div class="form-group mb-3">
                            <label class="cform-label">Diuresis</label>
                            <textarea type="text" class="form-control" formControlName="inputDiuresis" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="form-group mb-3 mt-4 pt-1">													
                            <button type="button" class="btn btn-green-custom" (click)="AgregarDiuresis()"><i class="fas fa-lg fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoDiuresis; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
                <hr/>
                <div class="row">
                    <div class="col-xl-11">
                        <div class="form-group mb-3">
                            <label class="cform-label">Deposición</label>
                            <textarea type="text" class="form-control" formControlName="inputDeposicion" rows="3"> </textarea>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <div class="form-group mb-3 mt-4 pt-1">													
                            <button type="button" class="btn btn-green-custom" (click)="AgregarDeposicion()"><i class="fas fa-lg fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row box-shadow" *ngFor="let lista of listadoDeposicion; let i = index">
                    <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                    <div class="col-xl-10">{{lista.Nota}}</div>
                    <!-- <div class="col-xl-2 text-right">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                    </div> -->
                    <br>
                </div>
                <br>
            </div>
        </form>
    </div>
    <div class="modal-footer">							
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal"  data-bs-dismiss="modal" (click)="Guardar()"><i class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
      </div>
</div>