<!-- BEGIN #header -->
<div id="header" class="app-header">
    <!-- BEGIN mobile-toggler -->
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END mobile-toggler -->
    
    <!-- BEGIN brand -->
    <div class="brand">
        <div class="desktop-toggler">
            <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        
        <a href="/dashboard" class="brand-logo-hp">
            <img src="./assets/img/logo-iso.png" alt="Logo cuidado vital" width="175" height="43"/>
        </a>
    </div>
    <!-- END brand -->
    
    <!-- BEGIN menu -->
    <div class="menu">
        <div class="menu-search">            
        </div>
        <div class="menu-item dropdown">            
        </div>
        <div class="menu-item dropdown">
            <a href="#" data-bs-toggle="dropdown" data-display="static" class="menu-link">
                <div class="menu-img online">
                    <img src="./assets/img/no-image.jpg" alt="" class="ms-100 mh-100 rounded-circle" />
                </div>
                <div class="menu-text">{{nombreUsuario}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right me-lg-3">               
                <a class="dropdown-item d-flex align-items-center" (click)="logOut()">Cerrar sesión <i class="fa fa-toggle-off fa-fw ms-auto text-gray-400"></i></a>
            </div>
        </div>
    </div>
    <!-- END menu -->
</div>
<!-- END #header -->