<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">CONTROLES</h5>
    </div>
    <div class="modal-body">
      <!-- <p class="lead">
        ¿Qué desea hacer?
      </p> -->
      <br>
      <div class="row">
          
            <div class="col-xl-12 d-grid mb-3">
              <button type="button" class="btn btn-green-light-custom" (click)="AbrirHistorial(idHistoria)"><i class="fas fa-eye"></i> Historial Obstetrico</button><br>
              <button type="button" class="btn btn-green-light-custom" (click)="AbrirRecetas(idHistoria)"><i class="fas fa-eye"></i> Recetas</button><br>
              <button type="button" class="btn btn-green-light-custom" (click)="AbrirExamenes(idHistoria)"><i class="fas fa-eye"></i> Examenes Auxiliares</button><br>
            </div>
          
          <!-- <div class="col-xl-6">
            <div class="col-xl-12 d-grid mb-3">
              <button type="button" class="btn btn-green-light-custom" (click)="AbrirExamenAuxiliar(idHistoria)"><i class="fas fa-eye"></i> Revisar mis Órdenes médicas</button><br>
              <button type="button" class="btn btn-green-light-custom" (click)="AbrirFunciones(idHistoria)"><i class="fas fa-eye"></i> Revisar mis funciones</button><br>
            </div>
          </div> -->
          
            
            
      </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>