<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">RESUMEN DE MONITOREO</h5>
    </div>
    <div class="modal-body">
      
      <br>
      <div class="row">
        <h5>{{fecha | date:'dd/MM/yyyy'}}</h5>
        
      </div>
      <div class="row">
          
            <div class="col-xl-12">
              
              <p class="lead">
                {{mensaje}}
              </p>
            </div>
            
            
      </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>