<div id="content">			
			
    <div class="card">
      <div class="card-header">
          <div class="header-card-table">DIRECTORIO DE MÉDICOS</div>
      </div>
      <div class="card-body">	
        <form [formGroup]="dataFormGroup">			
          <div class="row">
              <div class="col-xl-10">
                  <div class="row">
                      <div class="col-xl-3">
                          <div class="form-group mb-3">
                              <label class="form-label mb-3" for="">Ubicación</label>
                              <select class="form-select" formControlName="selectUbicacion">
                                  <option value="Huancayo">Huancayo</option>	
                                  <option value="Lima">Lima</option>
                                  <option value="Ayacucho">Ayacucho</option>									
                                  <option value="Huancavelica">Huancavelica</option>
                                  <option value="Arequipa">Arequipa</option>
                                  <option value="Cusco">Cusco</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="form-label mb-3" for="">Especialidad</label>
                            <select class="form-select" formControlName="selectEspecialidad">
                                <option value="Ginecólogo">Ginecólogo</option>	
                                <option value="Traumatólogo">Traumatólogo</option>
                                <option value="Dermatólogo">Dermatólogo</option>									
                                <option value="Psiquiatra">Psiquiatra</option>
                                <option value="Otorrino">Otorrino</option>
                                <option value="Oftalmólogo">Oftalmólogo</option>
                                <option value="Urólogo">Urólogo</option>
                                <option value="Neurólogo">Neurólogo</option>
                                <option value="Endocrino">Endocrino</option>
                                <option value="Dentista">Dentista</option>
                                <option value="Psicólogo">Psicólogo</option>
                            </select>
                        </div>
                     </div>
                  </div>
              </div>
              <div class="col-xl-2">
                  <div class="mt-4 pt-1">
                      <button type="button" class="btn btn-green-custom me-2" (click)="Buscar()">
                          <i class="fas fa-lg fa-search"></i>
                      </button>
                      <button type="button" class="btn btn-green-custom me-2" (click)="Limpiar()">
                          <i class="fas fa-lg fa-eraser"></i>
                      </button>
                  </div>						
              </div>
          </div>
        </form>	 
      </div>
      <hr>
      <div class="row">
        <ng-container *ngFor="let sstf of listadoBusquedaDirectorio">
            <div class="col-xl-3">
                <div class="d-flex flex-column align-items-center">
                    <img class="rounded m-2" src="{{sstf.image_url}}">
                    <p><strong>{{sstf.doctor_name}}</strong></p><!--medico-->
                    <p>{{sstf.specializations}}</p>
                    <p>{{sstf.address}}</p>
                    <button type="button" class=" btn btn-green-custom btn-sm" (click)="AbrirDetalle(sstf.link)"><i class="fas fa-lg fa-fw me-2 fa-eye"></i> Ver detalles</button>
                </div>
            </div>
        </ng-container>
      </div>
    </div>						
  </div>
 
  