<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">CONTROL DE GLUCOSA</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nombre Paciente : </label> <span> {{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="cform-label">Tipo de Diabetes*</label>
                            <input type="text" class="form-control" id="" formControlName="inputTipoDiabetes">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="cform-label">Fecha de diagnostico*</label>
                            <p-calendar 
                                placeholder="dd/mm/aaaa" 
                                formControlName="inputFechaDiagnostico"
                                styleClass="w-full block" 
                                inputStyleClass="w-full"
                                [iconDisplay]="'input'" 
                                [showIcon]="true" 
                                inputId="icondisplay"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div id="seccion-complicaciones">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Complicaciones*</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="radioComplicaciones" type="radio" formControlName="radioComplicaciones" 
                                    value="si" checked>
                                <label class="form-check-label" for="">SI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="radioComplicaciones" type="radio" formControlName="radioComplicaciones" 
                                    value="no">
                                <label class="form-check-label" for="">NO</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="radioComplicaciones" type="radio" formControlName="radioComplicaciones" 
                                    value="desconocido">
                                <label class="form-check-label" for="">DESCONOCIDO</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12" *ngIf="dataFormGroup.get('radioComplicaciones')!.value === 'si'">
                        <div class="row">
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Retinopatìa</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radRetinopatia" type="radio" formControlName="radRetinopatia"
                                                value="si" >
                                            <label class="form-check-label" for="">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radRetinopatia" type="radio" formControlName="radRetinopatia"
                                                value="no" checked>
                                            <label class="form-check-label" for="">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Nefropatìa</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radNefropatia" type="radio" formControlName="radNefropatia"
                                                value="si" >
                                            <label class="form-check-label" for="">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radNefropatia" type="radio" formControlName="radNefropatia"
                                                value="no" checked>
                                            <label class="form-check-label" for="">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Amputacìon</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radAmputacion" type="radio" formControlName="radAmputacion"
                                                value="si" >
                                            <label class="form-check-label" for="">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radAmputacion" type="radio" formControlName="radAmputacion"
                                                value="no" checked>
                                            <label class="form-check-label" for="">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Diàlisis</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radDialisis" type="radio" formControlName="radDialisis"
                                                value="si" >
                                            <label class="form-check-label" for="">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radDialisis" type="radio" formControlName="radDialisis"
                                                value="no" checked>
                                            <label class="form-check-label" for="">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Ceguera</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radCeguera" type="radio" formControlName="radCeguera"
                                                value="si" >
                                            <label class="form-check-label" for="">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radCeguera" type="radio" formControlName="radCeguera"
                                                value="no" checked>
                                            <label class="form-check-label" for="">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Transplante Renal</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radRenal" type="radio" formControlName="radRenal"
                                                value="si" >
                                            <label class="form-check-label" for="">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="radRenal" type="radio" formControlName="radRenal"
                                                value="no" checked>
                                            <label class="form-check-label" for="">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 mt-3">
                            <h6>Medidas Antropométricas*</h6>
                            <div class="form-group mb-3">
                                <!-- <label class="cform-label">Medidas Antropométricas*</label> -->
                                <div class="row">
                                    <div class="col-4">
                                        <label class="cform-label">Peso (kg)</label>
                                        <input type="text" class="form-control" formControlName="inputPeso">
                                    </div>
                                    <div class="col-4">
                                        <label class="cform-label">Talla</label>
                                        <input type="text" class="form-control" formControlName="inputTalla">
                                    </div>
                                    <div class="col-4">
                                        <label class="cform-label">IMC</label>
                                        <input type="text" class="form-control" formControlName="inputIMC">
                                    </div>
                                    <div class="col-6">
                                        <label class="cform-label">Perimetro Abdominal (cm)</label>
                                        <input type="text" class="form-control" formControlName="inputPerimetroAbdominal">
                                    </div>
                                    <div class="col-6">
                                        <label class="cform-label">Presiòn Arterial</label>
                                        <input type="text" class="form-control" formControlName="inputPresionArterial">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6>Valores de Examenes</h6>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="text-center">
                                        <tr>
                                            <th>PRESTACIÒN</th>
                                            <th>VALORES</th>
                                            <th>FECHA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ex of arrayExamenes">
                                            <td>{{ex.nombre}}</td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ex.valor}}">
                                            </td>
                                            <td>
                                                <input type="date" class="form-control" value="{{ex.fecha}}">
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <h6>Plan de Trabajo</h6>
                    <div class="row">
                        <div class="col-12">
                            <textarea name="" id="" class="form-control" rows="4" formControlName="inputPlanTrabajo"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="text-center">
                                        <tr>
                                            <th>PRESTACIÒN</th>
                                            <th>MONODROGA</th>
                                            <th>DOSIS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let e of arrayPrestacion">
                                            <td>{{ e.nombre }}</td>
                                            <td><input type="text" class="form-control" value="{{ e.monodroga }}"></td>
                                            <td><input type="text" class="form-control" value="{{ e.dosis }}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="Guardar()"><i
                class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>