<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">CONTROL DEL PACIENTE DIABETICO</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nombre Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <br>
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="cform-label">Tipo de Diabetes*</label>
                            <input type="text" class="form-control" formControlName="inputTipoDiabetes">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="cform-label">Fecha de diagnostico*</label>
                            <input type="date" class="form-control" formControlName="inputFechaDiagnostico">
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div id="seccion-complicaciones">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="cform-label block">Complicaciones*</label>
                        <div class="form-check form-check-inline" *ngFor="let combo of comboComplicacion">
                            <input class="form-check-input" name="inputComplicaciones" type="radio" id="inputComplicaciones" formControlName="inputComplicaciones" [value]="combo.id">
                            <label class="form-check-label" for=""> {{combo.nombre}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Retinopatìa</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline" *ngFor="let combo of comboSiNo">
                                            <input class="form-check-input" name="inputRetinopatia" type="radio" id="inputRetinopatia" formControlName="inputRetinopatia" [value]="combo.id">
                                            <label class="form-check-label" for=""> {{combo.nombre}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Nefropatìa</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline" *ngFor="let combo of comboSiNo">
                                            <input class="form-check-input" name="inputNefropatia" type="radio" id="inputNefropatia" formControlName="inputNefropatia" [value]="combo.id">
                                            <label class="form-check-label" for=""> {{combo.nombre}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Amputacìon</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline" *ngFor="let combo of comboSiNo">
                                            <input class="form-check-input" name="inputAmputacion" type="radio" id="inputAmputacion" formControlName="inputAmputacion" [value]="combo.id">
                                            <label class="form-check-label" for=""> {{combo.nombre}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Diálisis</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline" *ngFor="let combo of comboSiNo">
                                            <input class="form-check-input" name="inputDialisis" type="radio" id="inputDialisis" formControlName="inputDialisis" [value]="combo.id">
                                            <label class="form-check-label" for=""> {{combo.nombre}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Ceguera</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline" *ngFor="let combo of comboSiNo">
                                            <input class="form-check-input" name="inputCeguera" type="radio" id="inputCeguera" formControlName="inputCeguera" [value]="combo.id">
                                            <label class="form-check-label" for=""> {{combo.nombre}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 form-group mb-0">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <label class="cform-label block">Transplante Renal</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <div class="form-check form-check-inline" *ngFor="let combo of comboSiNo">
                                            <input class="form-check-input" name="inputTransplante" type="radio" id="inputTransplante" formControlName="inputTransplante" [value]="combo.id">
                                            <label class="form-check-label" for=""> {{combo.nombre}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-xl-12 mt-3">
                            <h6>Medidas Antropométricas*</h6>
                            <div class="form-group mb-3">
                                <!-- <label class="cform-label">Medidas Antropométricas*</label> -->
                                <div class="row">
                                    <div class="col-4">
                                        <label class="cform-label">Peso (kg)</label>
                                        <input type="number" class="form-control" formControlName="inputPeso" (blur)="CalcularIndiceMasaCorporal()">
                                    </div>
                                    <div class="col-4">
                                        <label class="cform-label">Talla</label>
                                        <input type="number" class="form-control" formControlName="inputTalla" (blur)="CalcularIndiceMasaCorporal()">
                                    </div>
                                    <div class="col-4">
                                        <label class="cform-label">IMC</label>
                                        <input type="number" class="form-control" formControlName="inputImc" (click)="CalcularIndiceMasaCorporal()" readonly>
                                    </div>
                                    <div class="col-4">
                                        <label class="cform-label">Perimetro Abdomial (cm)</label>
                                        <input type="number" class="form-control" formControlName="inputPerimetroAbdominal">
                                    </div>
                                    <div class="col-4">
                                        <label class="cform-label">Presiòn Arterial (Sistolica)</label>
                                        <input type="number" class="form-control" formControlName="inputPerimetroArterial">
                                    </div>
                                    <div class="col-4">
                                        <label class="cform-label">Presiòn Arterial (Diastolica)</label>
                                        <input type="number" class="form-control" formControlName="inputPerimetroArterialDias">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6>Valores de Examenes</h6>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="text-center">
                                        <tr>
                                            <th>PRESTACIÒN</th>
                                            <th>VALORES</th>
                                            <th>FECHA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Glucemia</td>
                                            <td><input type="text" class="form-control" formControlName="inputValorGlucemia"></td>
                                            <td>
                                                <input type="date" class="form-control" formControlName="inputFechaGlucemia">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>HBA1C</td>
                                            <td><input type="text" class="form-control" formControlName="inputValorHba"></td>
                                            <td>
                                                <input type="date" class="form-control" formControlName="inputFechaHba">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Creatinina</td>
                                            <td><input type="text" class="form-control" formControlName="inputValorCreatinina"></td>
                                            <td>
                                                <input type="date" class="form-control" formControlName="inputFechaCreatinina">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>LDL</td>
                                            <td><input type="text" class="form-control" formControlName="inputValorLdl"></td>
                                            <td>
                                                <input type="date" class="form-control" formControlName="inputFechaLdl">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Trigliceridos</td>
                                            <td><input type="text" class="form-control" formControlName="inputValorTrigliceridos"></td>
                                            <td>
                                                <input type="date" class="form-control" formControlName="inputFechaTrigliceridos">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Microalbuminuria</td>
                                            <td><input type="text" class="form-control" formControlName="inputValorMicroalbuminuria"></td>
                                            <td>
                                                <input type="date" class="form-control" formControlName="inputFechaMicroalbuminuria">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <h6>Plan de Trabajo</h6>
                    <div class="row">
                        <div class="col-12">
                            <textarea name="" id="" class="form-control" rows="4" formControlName="inputPlanTrabajo"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="text-center">
                                        <tr>
                                            <th>PRESTACIÒN</th>
                                            <th>MONODROGA</th>
                                            <th>DOSIS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Insulina</td>
                                            <td><input type="text" class="form-control" formControlName="inputMonoInsulina"></td>
                                            <td><input type="text" class="form-control" formControlName="inputDosisInsulina"></td>
                                        </tr>
                                        <tr>
                                            <td>Medicamentos Orales</td>
                                            <td><input type="text" class="form-control" formControlName="inputMonoMedicamento"></td>
                                            <td><input type="text" class="form-control" formControlName="inputDosisMedicamento"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="Guardar()"><i
                class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>