<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">BALANCE HIDRICO </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">							
        <form>
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>Maritza Córdova Juarez</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>75488545</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha : </label> <span>22/03/2022</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Hora : </label> <span>08:30 am</span>
                        </div>
                    </div>																
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Estado civil : </label> <span>Soltero</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Edad : </label> <span>28 años</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Sexo : </label> <span>Femenino</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Tipo paciente : </label> <span>Particular</span>
                        </div>
                    </div>																
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group mb-3">
                        <label class="cform-label" for="">Peso</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xl-2 mt-1">
                    <h6> Ingresos</h6>
                </div>
                <div class="col-xl-10 text-right">
                    <button type="button" class="btn btn-green-custom"><i class="fas fa-lg fa-plus"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for=""> <strong>Descripcion</strong> </label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""><strong>1er Turno</strong> </label>
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""> <strong>2do Turno</strong></label>
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""> <strong>3er Turno</strong></label>
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""><strong>Total</strong> </label>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Oral</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Parental</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Sangre</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-12">
                        <label class="form-label mt-2" for="">Agua oxidación(formula)</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Otros</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Total de Horas</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control" readonly>
                        </div>
                        <div class="col-xl-3">
                            
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for="">Sumatoria Total</label>
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>	
            </div>
            <hr/>
            <div class="row">
                <div class="col-xl-2 mt-1">
                    <h6> Egresos</h6>
                </div>
                <div class="col-xl-10 text-right">
                    <button type="button" class="btn btn-green-custom"><i class="fas fa-lg fa-plus"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for=""> <strong>Descripcion</strong> </label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""><strong>1er Turno</strong> </label>
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""> <strong>2do Turno</strong></label>
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""> <strong>3er Turno</strong></label>
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for=""><strong>Total</strong> </label>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Orina</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Vómito</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Succión</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-12">
                        <label class="form-label mt-2" for="">Drenaje</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Perdida Incesantes(fórmula)</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-12">
                        <label class="form-label mt-2" for="">Deposiciones</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-12">
                        <label class="form-label mt-2" for="">Otros</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>	
            </div>
            <div class="row mt-3">
                <div class="col-xl-4">
                    <div class="col-xl-4">
                        <label class="form-label mt-2" for="">Total de Horas</label>
                    </div>
                </div>	
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <input type="text" class="form-control" readonly>
                        </div>
                        <div class="col-xl-3">
                            
                        </div>
                        <div class="col-xl-3">
                            <label class="form-label mt-2" for="">Sumatoria Total</label>
                        </div>
                        <div class="col-xl-3">
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>	
            </div>
            <hr/>
            <h6>Balance Hídrico</h6>
            <div class="col-xl-4">
                <div class="form-group mb-3">
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">							
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-target="#modal-hospitalizacion"  data-bs-dismiss="modal"><i class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
        </div>
</div>