<div class="container-spinner" *ngIf="verSpinner">
    <div class="spinner-border text-primary"></div>
</div>
<div id="content">			
			
    <div class="card">
      <div class="card-header">
          <div class="header-card-table">ATENCIONES</div>
      </div>
      <div class="card-body">	
        <form [formGroup]="dataFormGroup">	
            <div class="row">
                <div class="col-xl-12 text-right">
                    <!-- <button *ngIf="sinAperturaCaja" type="button" class=" btn btn-green-custom" (click)="InsertarCaja()"><i class="fas fa-lg fa-fw me-2 fa-box-open"></i>Abrir caja</button>&nbsp;&nbsp;&nbsp; -->
                    
                    <button type="button" class=" btn btn-green-custom" (click)="nuevoControl($event)"><i class="fas fa-lg fa-fw me-2 fa-plus"></i>Agregar Control</button>&nbsp;&nbsp;&nbsp;
                    
                    &nbsp;&nbsp;&nbsp;
                </div>
            </div>		
          <div class="row">
              <div class="col-xl-3">
                    <div class="row">
                        <label class="form-label">Paciente</label>
                        <p-autoComplete 
                            formControlName="inputPaciente"
                            [(ngModel)]="selectedPaciente" 
                            [suggestions]="pacientes" 
                            (completeMethod)="filterCountries($event)" 
                            field="nombre"
                            [minLength]="2"
                            placeholder="Buscar paciente">
                        </p-autoComplete>
                    </div>
                   
                </div>
                <div class="col-xl-3">
                    <div class="row">
                        <label class="form-label">Fecha inicio de control</label>
                        <p-calendar 
                        formControlName="inputFechaInicio"
                        [(ngModel)]="fechaInicio" 
                        [showIcon]="true" 
                        inputId="buttondisplay" 
                        dateFormat="dd/mm/yy"
                        [showOnFocus]="true" />
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="row">
                        <label class="form-label" for="">Nro Documento</label>
                        <input type="text" pInputText  class="form-control" [(ngModel)]="numeroDocumento" formControlName="inputNumeroDocumento"/>
                    </div> 
                </div>
                <div class="col-xl-3">
                    <div class="mt-4 pt-2">
                        <button type="button" class="btn btn-green-custom me-2" (click)="BuscarAtenciones()">
                            <i class="fas fa-lg fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-green-custom me-2" (click)="Limpiar()">
                            <i class="fas fa-lg fa-eraser"></i>
                        </button>
                    </div>						
                </div>
          </div>

        </form>	
          <hr/>
          <div class="row" id="ver-cuadrilla">	
            <ng-container *ngFor="let lista of listadoAtencionBusqueda">
                <div class="col-xl-3 background-cuadrilla">
                    <div class="row mb-3 mt-3">
                        <div class="col-xl-10">
                            <p><strong>FECHA HISTORIA: </strong>{{lista.fechaInicioAtencion  | date: 'yyyy-MM-dd'}}</p>
                        </div>
                        <div class="col-xl-2 text-end">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Imprimir" aria-label="Imprimir" (click)="AbrirPdf(lista.idHistoriaClinica)"><i class="fas fa-lg fa-print"></i></button>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>PACIENTE: </strong> {{lista.paciente}}</p>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>NRO DOCUMENTO: </strong> {{lista.numeroDocumento}}</p>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>MOTIVO: </strong>{{lista.motivoAtencion}}</p>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>ESPECIALIDAD: </strong> {{lista.especialidadMedica}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirHistoria(lista.idHistoriaClinica)">Última Atención</button>
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirRecetas(lista.idHistoriaClinica)">Recetas</button>
                                <button type="button" class="btn btn-green-custom btn-sm">Reporte</button>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirControles(lista.idHistoriaClinica)">Controles</button>
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirExamenAuxiliar()">Examenes auxiliares</button>
                                <button type="button" class="btn btn-green-custom btn-sm">Estado</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 text-center mt-3">
                            <button type="button" class="btn btn-warning-custom btn-sm" data-class="btnReprogramar" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Reprogramar cita" aria-label="Reprogramar cita"><i class="fas fa-lg fa-clock"></i></button>&nbsp;&nbsp;
                        </div>

                    </div>
                </div>
            </ng-container>
        </div>			  
      </div>
    </div>						
  </div>
  <!-- END #content -->
  <!-- BEGIN btn-scroll-top -->
  <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
  <!-- END btn-scroll-top -->
