<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">HISTORIAL DE ATENCIÓN</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">							
        <form>
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>				
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha atención : </label> <span>{{fechaHistoria | date: 'yyyy-MM-dd'}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            
                        </div>
                    </div>																
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xl-2">
                    <h6>Datos generales</h6>
                </div>
               <!--  <div class="col-xl-3">
                    <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirModalEditarPaciente()"><i class="fas fa-lg fa-fw me-2 fa-pencil-alt"></i>Editar</button>
                </div> -->
            </div>
            <div class="row mt-3">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha nacimiento : </label> <span>{{fechaNacimientoPaciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Celular : </label> <span>{{celularPaciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Email : </label> <span>{{emailPaciente}}</span>
                        </div>
                    </div>															
                </div>								
                <div class="col-xl-6">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Dirección : </label> <span>{{direccionPaciente}}</span>
                    </div>
                </div>	
                <div class="col-xl-6">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Procedencia : </label> <span>{{procedencia}}</span>
                    </div>
                </div>	
            </div>								
            <hr/>								
            <div class="mb-3 bg-green-custom">I. ANAMNESIS</div>
            <div class="row">
                <div class="col-xl-6" *ngIf="objAnamnesis.TiempoEnfermedad != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Tiempo de enfermedad</div>
                        <div class="col-xl-10">{{objAnamnesis.TiempoEnfermedad}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.MotivoConsulta != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Motivo de consulta</div>
                        <div class="col-xl-10">{{objAnamnesis.MotivoConsulta}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.CursoEnfermedad != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Curso de la enfermedad</div>
                        <div class="col-xl-10">{{objAnamnesis.CursoEnfermedad}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.SignosSintomas != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Signos y Síntoma</div>
                        <div class="col-xl-10">{{objAnamnesis.SignosSintomas}} </div>
                    </div>
                </div>
            </div>
            <hr/>
            <label class="fw-bold">Antecedentes</label>
            <div class="row">
                <div class="col-xl-12" *ngIf="objAnamnesis.Antecedentes?.TratamientoUsoFrecuente != null" >
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Tratamientos de uso frecuente</div>
                        <div class="col-xl-10">{{objAnamnesis.Antecedentes?.TratamientoUsoFrecuente}} </div>
                    </div>
                </div>
                <br>
                <div class="col-xl-6" *ngIf="objAnamnesis.Antecedentes?.Medicos != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Medicos</div>
                        <div class="col-xl-10" *ngFor="let lista of objAnamnesis.Antecedentes?.Medicos">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.Antecedentes?.Quirurgicos != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Quirurgicos</div>
                        <div class="col-xl-10" *ngFor="let lista of objAnamnesis.Antecedentes?.Quirurgicos">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.Antecedentes?.Familiares != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Familiares</div>
                        <div class="col-xl-10" *ngFor="let lista of objAnamnesis.Antecedentes?.Familiares">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.Antecedentes?.Patologicos != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Patologicos</div>
                        <div class="col-xl-10" *ngFor="let lista of objAnamnesis.Antecedentes?.Patologicos">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.Antecedentes?.Alergias != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Alergias</div>
                        <div class="col-xl-10" *ngFor="let lista of objAnamnesis.Antecedentes?.Alergias">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objAnamnesis.Antecedentes?.ReaccionAdversa != null">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">ReaccionAdversa</div>
                        <div class="col-xl-10" *ngFor="let lista of objAnamnesis.Antecedentes?.ReaccionAdversa">- {{lista}} </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 bg-green-custom">II. FUNCIONES BIOLÓGICAS</div>
            <div class="row">
                <div class="col-xl-6" *ngIf="objFuncionBiologica.Apetito?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Apetito</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.Apetito">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objFuncionBiologica.Orina?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Orina</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.Orina">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objFuncionBiologica.Sed?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Sed</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.Sed">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objFuncionBiologica.Deposiciones?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Deposiciones</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.Deposiciones">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objFuncionBiologica.Suenno?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Sueño</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.Suenno">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objFuncionBiologica.EstadoPonderal?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Estado Ponderal</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.EstadoPonderal">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objFuncionBiologica.Sudor?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Sudor</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.Sudor">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6" *ngIf="objFuncionBiologica.EstadoAnimo?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Estado Animo</div>
                        <div class="col-xl-10" *ngFor="let lista of objFuncionBiologica.EstadoAnimo">- {{lista}} </div>
                    </div>
                </div>
            </div>
           <!--  <div class="mb-3 bg-green-custom">III. VALORACIÓN FUNCIONAL (ABVD)</div>
            <div class="row">
                <div class="col-xl-2">

                </div>
                <div class="col-xl-5">
                    <table>
                        <tr>
                            <td>KATZ</td>
                            <td>DEPENDIENTE</td>
                            <td>INDEPENDIENTE</td>
                        </tr>
                        <tr>
                            <td>Lavarse</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>Vestirse</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>Uso del Serv. Higiénico</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>Movilizarse</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>Continencia</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>Alimentarse</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xl-4">
                    <label class="fw-bold">DIAGNOSTICO FUNCIONAL</label>
                    <table>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>Dependiente Parcial</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>Dependiente Total</td>
                        </tr>
                    </table>
                </div>
            </div> -->
            <br>
            <!-- <div class="mb-3 bg-green-custom">IV. VALORACIÓN MENTAL</div>
            <div class="row">
                <div class="col-xl-2">

                </div>
                <div class="col-xl-5">
                    <label class="fw-bold">ESTADO CONGNITIVO (Pfeiffer)</label>
                    <table>
                        <tr>
                            <td>¿Cual es la fecha de Hoy? (dia, mes, año)</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Que dia de la Semana?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿En que lugar estamos? (vale cualquier descripcion correcta del lugar)</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Cúal es su numero de telefono?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Cúal es su direccion completa?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Cuantos años tiene?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Donde Nacio?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Cual es el nombre del presidente?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Cual es el nombre del ex Presidente?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>Digame el primer apellido de su madre</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>Restar de 3 en 3 desde 30 (cualquier error hace errónra la respuesta)</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xl-4">
                    <label class="fw-bold">VALORACION COGNITIVA</label>
                    <table>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>Mormal</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>DC Leve</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>DC Moderado</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>DC Severo</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>DC Deterioro Cognitivo</td>
                        </tr>
                    </table>
                </div>
            </div> -->
            <br>
            <!-- <div class="mb-3 bg-green-custom">V. ESTADO AFECTIVO (Esacla abreviada de Yesevage)</div>
            <div class="row">
                <div class="col-xl-2">

                </div>
                <div class="col-xl-5">
                    <label class="fw-bold">ESTADO CONGNITIVO (Pfeiffer)</label>
                    <table>
                        <tr>
                            <td></td>
                            <td>SI</td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td>¿Esta satisfecho con su vida?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Se siente impotente o indefenso?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Tiene problemas de memoria?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                        <tr>
                            <td>¿Siente desgano o se siente imposibilitado respecto a actividades de intereses?</td>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td><input type="checkbox" class="form-check-input"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xl-4">
                    <label class="fw-bold">DIAGNOSTICO</label>
                    <table>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>Sin manifestaciones depresivas</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="form-check-input"></td>
                            <td>Con manifestaciones depresivas</td>
                        </tr>
                    </table>
                </div>
            </div> -->
            <br>
            <div class="mb-3 bg-green-custom">III. EXAMEN FÍSICO</div>
            <label class="fw-bold">Signos vitales del paciente</label>
            <div class="col-xl-12 mb-3">
                <ng-container>
                    <div class="box-shadow mt-3">
                        <div class="row">
                            <div class="col-xl-3 mt-2 "><strong>Temperatura: </strong>{{objFuncionVital.Temperatura}} °C</div>
                            <div class="col-xl-3 mt-2"><strong>Frecuencia cardiaca: </strong>{{objFuncionVital.FrecuenciaCardiaca}} x
                                min.</div>
                            <div class="col-xl-3 mt-2"><strong>Presión arterial:
                                </strong>{{objFuncionVital.PresionArterialSistolica}}/{{objFuncionVital.PresionArterialDistolica}}
                                mmhg</div>
                            <div class="col-xl-3 mt-2"><strong>Saturación de oxígeno : </strong>{{objFuncionVital.SaturacionOxigeno}}
                                %</div>
                            <div class="col-xl-3 mt-2"><strong>Frecuencia respiratoria:
                                </strong>{{objFuncionVital.FrecuenciaRespiratoria}} x
                                min.</div>
                            <div class="col-xl-3 mt-2"><strong>Talla: </strong>{{objFuncionVital.Talla}} m</div>
                            <div class="col-xl-3 mt-2"><strong>Peso: </strong>{{objFuncionVital.Peso}} kg</div>
                            <div class="col-xl-3 mt-2"><strong>Indice masa corporal: </strong>{{objFuncionVital.IMC}} kg/m² </div>
                            <div class="col-xl-3 mt-2"><strong>Peso habitual: </strong>{{objFuncionVital.PesoHabitual}} kg</div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <br/>
            <label class="fw-bold">Examen regional</label>
            <div class="row mb-3">
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.PielAnexo?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Piel anexo </div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.PielAnexo">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.CabezaCuello?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Cabeza y Cuello </div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.CabezaCuello">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.Edema?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Edema</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.Edema">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.ToraxPulmon?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Torax Pulmones</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.ToraxPulmon">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.Abdomen?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Abdomen</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.Abdomen">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.AparatoCardiovascular?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Aparato Cardiovascular</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.AparatoCardiovascular">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.TactoRectal?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Tacto Rectal</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.TactoRectal">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.AparatoGenito?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Aparato Genito Urinario</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.AparatoGenito">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.SistemaNervioso?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Sistema Nervioso</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.SistemaNervioso">- {{lista}} </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3" *ngIf="objExamenRegional.AparatoLocomotor?.length != 0">
                    <div class="row box-shadow mb-3">
                        <div class="col-xl-12 fw-bold">Aparato Locomotor</div>
                        <div class="col-xl-10" *ngFor="let lista of objExamenRegional.AparatoLocomotor">- {{lista}} </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="mb-3 bg-green-custom">IV.  DIAGNÓSTICO DEFINITIVO - PRESUNTIVO - REPETITIVO</div>						
            <div class="col-xl-12"  *ngFor="let lista of objDiagnostico">
                <div class="box-shadow mb-3">
                    <div class="row">
                        <div class="col-xl-11">
                            <div class="col-xl-12 fw-bold">{{lista.TipoDiagnostico}}</div>
                            <div class="col-xl-12">{{lista.CodigoCie10}}</div>
                            <div class="col-xl-12">{{lista.NombreDiagnostico}}</div>
                            <hr>
                          
                        </div>
                    </div>
                </div>
            </div>   
            <br/>
            <div class="mb-3 bg-green-custom">V. RESUMEN / PLAN DE TRABAJO</div>
            <div>
                <p>  {{objHistoriaExterna.PlanTrabajo}} &nbsp;&nbsp;</p> 
                
            </div>	
        </form>
    </div>
    <div class="modal-footer">		
        <button type="button" class="btn btn-green-custom" ><a href="{{objHistoriaExterna.UrlPdfHistoriaClinica}}"><i class="fas fa-lg fa-fw me-2 fa-file-alt"></i>HISTORIA</a></button>						
        <button type="button" class="btn btn-green-custom"><i class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>