<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">REPORTE DEL ADULTO MAYOR ESTABLE</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button> 
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>				
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>														
                </div>
            </div>
            <hr/>		

            <div id="seccion-medicacion" class="">
                <div class="row mb-3 bg-green-custom">REPORTE</div>	
                <div class="box-shadow mt-3" *ngFor="let record of objControlGeneral">
                    <p><strong>Fecha de Registro:</strong> {{ record.FechaRegistro | date:'short' }}</p>
                    <p><strong>Alergias:</strong> {{ record.Alergias }}</p>
                    <div class="row">
                        <div class="col-xl-4">
                            <h5>Escala Katz:</h5>
                            <ul>
                              <li><strong>Baño:</strong> {{ record.Banno.Nombre }}</li>
                              <li><strong>Vestido:</strong> {{ record.Vestido.Nombre }}</li>
                              <li><strong>WC:</strong> {{ record.Wc.Nombre }}</li>
                              <li><strong>Movilidad:</strong> {{ record.Movilidad.Nombre }}</li>
                              <li><strong>Continencia:</strong> {{ record.Continencia.Nombre }}</li>
                              <li><strong>Alimentación:</strong> {{ record.Alimentacion.Nombre }}</li>
                            </ul>
                            <h6>Resultado :</h6>
                            <ul>
                              <li><strong>Resultado:</strong> {{ record.ResultadoEscalaKatz.Nombre }}</li>
                              <li><strong>Detalle:</strong> {{ record.DetalleResultadoKatz }}</li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <h5>Medidas Antropométricas:</h5>
                            <ul>
                              <li><strong>Temperatura:</strong> {{ record.Temperatura }}</li>
                              <li><strong>Frecuencia Cardiaca:</strong> {{ record.Fc }}</li>
                              <li><strong>Frecuencia Respiratoria:</strong> {{ record.Fr }}</li>
                              <li><strong>Presión Sistólica:</strong> {{ record.PresionSistolica }}</li>
                              <li><strong>Presión Diastólica:</strong> {{ record.PresionDiastolica }}</li>
                              <li><strong>Saturación:</strong> {{ record.Saturacion }}</li>
                              <li><strong>Peso:</strong> {{ record.Peso }} kg</li>
                              <li><strong>Talla:</strong> {{ record.Talla }} cm</li>
                              <li><strong>IMC:</strong> {{ record.Imc }}</li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <h5>Valoración Mental y Emocional:</h5>
                            <ul>
                              <li><strong>¿Què fecha es Hoy? (dd/mm/aa):</strong> {{ record.FechaHoy }}</li>
                              <li><strong>¿Que dia de la Semana es?</strong> {{ record.DiaSemana }}</li>
                              <li><strong>¿En que lugar estamos?</strong> {{ record.LugarEstamos }}</li>
                              <li><strong>¿Cúal es su numero de telefono?</strong> {{ record.NumeroTelefono }}</li>
                              <li><strong>¿Cúal es su direccion completa?</strong> {{ record.DireccionCompleta }}</li>
                              <li><strong>¿Cuantos años tiene?</strong> {{ record.CuantosAnios }}</li>
                              <li><strong>¿Donde Nacio?</strong> {{ record.DondeNacio }}</li>
                              <li><strong>¿Cual es el nombre del presidente?</strong> {{ record.NombrePresidente }}</li>
                              <li><strong>Digame el primer apellido de su madre	</strong> {{ record.PrimerApellidoMadre }}</li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <h5>Otros Datos:</h5>
                            <ul>
                              <li><strong>Resultado de Valoracion Mental:</strong> {{ record.ValoracionMental.Nombre }} - {{ record.ValoracionMentalDetalle }}</li>
                              <li><strong>Caída dentro de los 6 meses:</strong> {{ record.Caida.Nombre }} - {{ record.CaidaDetalle }}</li>
                              <li><strong>Estado Nutricional:</strong> {{ record.EstadoNutricional.Nombre }} - {{ record.EstadoNutricionalDetalle }}</li>
                              <li><strong>Estado Psicosocial:</strong> {{ record.EstadoPsicosocial.Nombre }} - {{ record.EstadoPsicosocialDetalle }}</li>
                              <li><strong>Estado de Visión:</strong> {{ record.EstadoVision.Nombre }} - {{ record.EstadoVisionDetalle }}</li>
                              <li><strong>Estado de Audición:</strong> {{ record.EstadoAudicion.Nombre }} - {{ record.EstadoAudicionDetalle }}</li>
                              <li><strong>Plan de trabajo:</strong> {{ record.PlanTrabajo }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            		
        </form>
    </div>
    <div class="modal-footer">							
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-lg fa-fw me-2 fa-file-pdf"></i>Imprimir</button> -->
        <button type="button" class="btn btn-danger" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
      </div>
</div>