<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-header">Menú navegación</div>
            <div class="menu-item">
                <a href="/" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-laptop"></i></span>
                    <span class="menu-text">Dashboard</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/pacientes" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">PACIENTES</span> 
                </a>
                <!--<div class="menu-submenu">
                    <div class="menu-item">
                        <a href="_listado-emergencia-completo.html" class="menu-link">
                            <span class="menu-text">Admisiones - técnica</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_visualizar-emergencia-completo.html" class="menu-link">
                            <span class="menu-text">Visualizar - médico</span>
                        </a>
                    </div>	
                    <div class="menu-item">
                        <a href="_consulta_siteds.html" class="menu-link">
                            <span class="menu-text">Consulta Siteds</span>
                        </a>
                    </div>						
                </div> -->
            </div>
            <div class="menu-item">
                <a href="/atenciones" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">ATENCIONES</span> 
                </a>
            </div>
            <div class="menu-item">
                <a href="/pacientes" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">REPORTE DE ENFERMERIA</span> 
                </a>
            </div>
            <div class="menu-item">
                <a href="/pacientes" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">REPORTE PARA FAMILIAR</span> 
                </a>
            </div>
            <div class="menu-item has-sub">
                <a href="#" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">ADMINISTRACION</span> 
                    <span class="menu-caret"><b class="caret"></b></span>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item">
                        <a href="#" class="menu-link">
                            <span class="menu-text">Medicos</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="#" class="menu-link">
                            <span class="menu-text">Usuarios</span>
                        </a>
                    </div>							
                </div>
            </div>
            <!-- <div class="menu-item has-sub">
                <a href="#" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">PRESTACIONES ESTADÍA</span> 
                    <span class="menu-caret"><b class="caret"></b></span>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item">
                        <a href="_listado-hospitalizacion.html" class="menu-link">
                            <span class="menu-text">Hospitalización</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_listado-sop.html" class="menu-link">
                            <span class="menu-text">SOP</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_listado-uci.html" class="menu-link">
                            <span class="menu-text">UCI</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_listado-urpa.html" class="menu-link">
                            <span class="menu-text">URPA</span>
                        </a>
                    </div>							
                </div>
            </div>
            <div class="menu-item has-sub">
                <a href="#" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">COMPROBANTES</span> 
                    <span class="menu-caret"><b class="caret"></b></span>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item">
                        <a href="_listado-comprobantes.html" class="menu-link">
                            <span class="menu-text">Comprobantes</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_listado-cta-cte.html" class="menu-link">
                            <span class="menu-text">Cuentas corrientes</span>
                        </a>
                    </div>							
                </div>
            </div>
            <div class="menu-item has-sub">
                <a href="#" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">TEDEF</span> 
                    <span class="menu-caret"><b class="caret"></b></span>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item">
                        <a href="_tedef_archivos_por_subir.html" class="menu-link">
                            <span class="menu-text">Subir archivos</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_tedef_elementos_enviados.html" class="menu-link">
                            <span class="menu-text">Elementos enviados</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_tedef_revision_cuenta_corriente.html" class="menu-link">
                            <span class="menu-text">Revisión CTA. CTE.</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_tedef_trama.html" class="menu-link">
                            <span class="menu-text">Trama</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_tedef_validar_archivos.html" class="menu-link">
                            <span class="menu-text">Validar archivos</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_tedef_verificacion_diagnosticos.html" class="menu-link">
                            <span class="menu-text">Verificar diagnósticos</span>
                        </a>
                    </div>							
                </div>
            </div>
            <div class="menu-item has-sub">
                <a href="#" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chevron-right"></i></span>
                    <span class="menu-text">HTA. CONSULTORIOS</span> 
                    <span class="menu-caret"><b class="caret"></b></span>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item">
                        <a href="_historial-cirugia.html" class="menu-link">
                            <span class="menu-text">Cirugía</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_historial-ginecologia.html" class="menu-link">
                            <span class="menu-text">Ginecologia</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_historial-medicina-interna.html" class="menu-link">
                            <span class="menu-text">Medicina Interna</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_historial-obstetricia.html" class="menu-link">
                            <span class="menu-text">Obstetricia</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_historial-pediatria.html" class="menu-link">
                            <span class="menu-text">Pediatría</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="_historial-fertilidad.html" class="menu-link">
                            <span class="menu-text">Fertilidad</span>
                        </a>
                    </div>
                                                
                </div>
            </div> -->
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->
    
    <!-- BEGIN mobile-sidebar-backdrop -->
    <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
    <!-- END mobile-sidebar-backdrop -->
</div>
<!-- END #sidebar -->