<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"> CONTROL DE LA ENFERMEDAD PULMONAR OBSTRUCTIVA CRÓNICA</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nombre Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div id="content-section">
                <div class="row">
                    <div class="col-12">
                        <h6>Escala de Katz*</h6>
                        <div class="row">
                            <div class="col-6">
                                <label class="cform-label">Baño</label>
                                <p-dropdown 
                                    formControlName="selectBanio"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Vestido</label>
                                <p-dropdown 
                                    formControlName="selectVestido"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Uso del WC</label>
                                <p-dropdown 
                                    formControlName="selectWC"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Movilidad</label>
                                <p-dropdown 
                                    formControlName="selectMovilidad"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Continencia</label>
                                <p-dropdown 
                                    formControlName="selectContinencia"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Alimentación</label>
                                <p-dropdown 
                                    formControlName="selectAlimentacion"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Resultado Escala de Katz</h6>
                        <div class="form-group">
                            <div class="form-check form-check-inline" *ngFor="let combo of comboResultadoKatz">
                                <input class="form-check-input" name="inputResultadoEscalaKatz" type="radio" id="inputResultadoEscalaKatz" formControlName="inputResultadoEscalaKatz" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label class="cform-label">Dificultad</label>
                        <textarea class="form-control" rows="2" placeholder="TBC / CX PULMONAR" formControlName="inputDificultad"></textarea>
                    </div>
                    <div class="col-12">
                        <label class="cform-label bold">Fase de EPOC* </label>
                        <select class="form-select" formControlName="selectFaseEpoc">
                            <option *ngFor="let combo of comboFaseEpoc" [value]="combo.id">
                                {{combo.nombre}}
                            </option>										
                        </select>
                    </div>
                    <div class="col-12">
                            <label class="cform-label bold">Fecha de diagnostico*</label>
                            <input type="date" class="form-control" formControlName="selectFechaDiagnostico">
                    </div>
                    <div class="col-12 mt-3">
                        <h6>Habitos Nocivos*</h6>
                        <div class="row">
                            <div class="col-4">
                                <label class="cform-label">Alcohol</label>
                                <select class="form-select" formControlName="selectAlcohol">
                                    <option *ngFor="let combo of comboHabitoNocivo" [value]="combo.id">
                                        {{combo.nombre}}
                                    </option>										
                                </select>
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Drogas</label>
                                <select class="form-select" formControlName="selectDrogas">
                                    <option *ngFor="let combo of comboHabitoNocivo" [value]="combo.id">
                                        {{combo.nombre}}
                                    </option>										
                                </select>
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Tabaco</label>
                                <select class="form-select" formControlName="selectTabaco">
                                    <option *ngFor="let combo of comboHabitoNocivo" [value]="combo.id">
                                        {{combo.nombre}}
                                    </option>										
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 mt-3">
                        <h6>Sintomas Respiratorios*</h6>
                        <div class="form-group mb-3">                        
                            <div class="form-check form-check-inline" *ngFor="let combo of comboSintomaRespiratorio">
                                <input class="form-check-input" name="inputSintomaRespiratorio" type="radio" id="inputSintomaRespiratorio" formControlName="inputSintomaRespiratorio" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea class="form-control" formControlName="textSintomaRespiratorio"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Evaluacion Funcional</h6>
                        <textarea class="form-control" formControlName="inputEvaluacionFuncional"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Plan de Trabajo</h6>
                        <textarea class="form-control" formControlName="inputPlanTrabajo"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="Guardar()"><i
                class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>