<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">CONTROL DE EPOC</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">  
            <div id="header-component">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nombre Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div id="content-section">
                <div class="row">
                    <div class="col-12">
                        <h6>Escala de Katz*</h6>
                        <div class="row">
                            <div class="col-6">
                                <label class="cform-label">Baño</label>
                                <p-dropdown 
                                    formControlName="selectBanio"
                                    [options]="comboBanio" 
                                    optionValue="id"
                                    optionLabel="nombre" 
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona">
                                    <ng-template let-item pTemplate="item" class="w-full">
                                        {{ item.nombre }} - {{ item.descripcion }}
                                    </ng-template>
                                    </p-dropdown>
                                   
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Vestido</label>
                                <p-dropdown 
                                    formControlName="selectVestido"
                                    [options]="comboVestido" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Uso del WC</label>
                                <p-dropdown 
                                    formControlName="selectWC"
                                    [options]="comboWC" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Movilidad</label>
                                <p-dropdown 
                                    formControlName="selectMovilidad"
                                    [options]="comboMovilidad" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Continencia</label>
                                <p-dropdown 
                                    formControlName="selectContinencia"
                                    [options]="comboContinencia" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Alimentación</label>
                                <p-dropdown 
                                    formControlName="selectAlimentacion"
                                    [options]="comboAlimentacion" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Resultado Escala de Katz</h6>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="radKatz" type="radio" formControlName="radKatz"
                                    value="dependiente" checked>
                                <label class="form-check-label" for="">Dependiente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="radKatz" type="radio" formControlName="radKatz"
                                    value="independiente">
                                <label class="form-check-label" for="">Independiente</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label class="cform-label">Dificultad</label>
                        <textarea name="" id="" class="form-control" rows="2" placeholder="TBC / CX PULMONAR" formControlName="inputDificultad"></textarea>
                    </div>
                    <div class="col-12">
                            <label class="cform-label bold">Fase de EPOC* </label>
                            <p-dropdown 
                                    formControlName="selectFaseEpoc"
                                    [options]="comboFaseEpoc" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                    </div>
                    <div class="col-12">
                            <label class="cform-label bold">Fecha de diagnostico*</label>
                            <p-calendar 
                            placeholder="dd/mm/aaaa" 
                            formControlName="inputFechaDiagnostico"
                            styleClass="w-full block" 
                            inputStyleClass="w-full"
                            [iconDisplay]="'input'" 
                            [showIcon]="true" 
                            inputId="icondisplay"/>
                    </div>
                    <div class="col-12 mt-3">
                        <h6>Habitos Nocivos*</h6>
                        <div class="row">
                            <div class="col-4">
                                <label class="cform-label">Alcohol</label>
                                <p-dropdown 
                                    formControlName="selectAlcohol"
                                    [options]="comboFaseEpoc" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Drogas</label>
                                <p-dropdown 
                                    formControlName="selectDrogas"
                                    [options]="comboFaseEpoc" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Tabaco</label>
                                <p-dropdown 
                                    formControlName="selectTabaco"
                                    [options]="comboFaseEpoc" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 mt-3">
                        <h6>Sintomas Respiratorios*</h6>
                        <div class="form-group mb-3">                        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="radSintomasResp" type="radio" formControlName="radSintomasResp"
                                    value="normal" checked>
                                <label class="form-check-label" for="">Normal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="radSintomasResp" type="radio" formControlName="radSintomasResp"
                                    value="alterado">
                                <label class="form-check-label" for="">Alterado</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputSintomasResp"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Evaluacion Funcional</h6>
                        <textarea name="" id="" class="form-control" formControlName="inputEvalFuncional"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Plan de Trabajo</h6>
                        <textarea name="" id="" class="form-control" formControlName="inputPlanTrabajo"></textarea>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="Guardar()"><i
                class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>