<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">EXAMEN AUXILIAR</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button> 
    </div>
    <div class="modal-body">
        <form>
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>Maritza Córdova Juarez</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>75488545</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha : </label> <span>22/03/2022</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Hora : </label> <span>08:30 am</span>
                        </div>
                    </div>																
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Estado civil : </label> <span>Soltero</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Edad : </label> <span>28 años</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Sexo : </label> <span>Femenino</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Tipo paciente : </label> <span>Particular</span>
                        </div>
                    </div>																
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>Ana Mendoza Arce</span>
                        </div>
                    </div>																										
                </div>
            </div>
            <hr/>
            <div class="row mb-3 bg-green-custom">DIAGNÓSTICO PRESUNTIVO</div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group mb-3">
                        <label class="form-label mb-3">Diagnóstico predeterminado</label><br/>
                        <div class="btn-group width-100">
                            <div class="cie10">
                                <div class="col-xl-2">
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" value="" name="chk0" id="chk0">
                                        <label class="form-check-label" for="defaultCheck1">CIE10</label>
                                    </div>
                                </div>
                            </div>												
                            <select class="form-select form-control" id="">
                                <option>Seleccionar</option>												
                            </select>
                        </div>											
                    </div>										
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="form-group mb-3">
                                <label class="form-label mb-3">Escriba su diagnóstico</label>
                                <input type="text" class="form-control" id=""/>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group mb-3 mt-4 pt-1">	
                                <button type="button" class="btn btn-green-custom"><i class="fas fa-lg fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row box-shadow">
                <div class="col-xl-12 fw-bold">Diagnóstico</div>
                <div class="col-xl-10">A00 - CÓLERA</div>
                <div class="col-xl-2 text-right">
                    <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                </div>
            </div>
            <hr/>
            <div class="row mb-3 bg-green-custom">ÓRDENES</div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group mb-3">
                        <label class="form-label mb-3" for="">Búsqueda de estudios</label>	
                        <div class="input-group">
                            <input type="text" class="form-control" id="" />
                            <button type="button" class="input-group-text btn-green-custom" for="">
                                <i class="fas fa-lg fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group mb-3 mt-4 pt-1">	
                        <button type="button" class="btn btn-green-custom"><i class="fas fa-lg fa-plus"></i></button>
                    </div>
                </div>
            </div>								
            <div class="row">
                <div class="col-xl-3">
                    <h6>Tipo de orden</h6>
                </div>
                <div class="col-xl-3">
                    <h6>Categoría</h6>
                </div>
                <div class="col-xl-3">
                    <h6>Estudio</h6>
                </div>
                <div class="col-xl-3">
                    <h6>Indicaciones</h6>
                </div>									
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group mb-3">											
                        <select class="form-select" id="">
                            <option>Laboratorio</option>
                            <option>Ecografía</option>												
                            <option>Rayos X</option>
                            <option>Tomografía</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <select class="form-select" id="">
                        <option>Bioquímica</option>											
                    </select>
                </div>
                <div class="col-xl-3">
                    <textarea type="text" class="form-control" id="" >Amilasa, Creatinina, Glucosa, Glucosa post prandial</textarea>
                </div>
                <div class="col-xl-3">
                    <div class="row">
                        <div class="col-xl-10">
                            <textarea type="text" class="form-control" id="" ></textarea>
                        </div>
                        <div class="col-xl-2 text-right">
                            <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-lg fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
                                            
        </form>
    </div>
    <div class="modal-footer">							
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-target="#modalXl" data-bs-dismiss="modal"><i class="fas fa-lg fa-fw me-2 fa-file-alt"></i>Generar orden</button>
        <button type="button" class="btn btn-green-light-custom"><i class="fas fa-lg fa-fw me-2 fa-file-pdf"></i>Imprimir</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
      </div>
</div>