<div class="modal-content">
    <!-- <div class="modal-header">
      <h5 class="modal-title">CONTROLES</h5>
    </div> -->
    <div class="modal-body">
      <h5 class="modal-title">CONTROLES</h5>
      <br>
      <div class="row">
        <div class="col-xl-12">
            <div class="d-grid gap-2"> 
                <!-- <button class="btn btn-green-custom" type="button" (click)="AbrirNotaEnfermera()">NOTAS DE ENFERMERA</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirActividadTecnica()">ACTIVIDAD DEL PERSONAL TÉCNICO</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirEpicrisis()">EPICRISIS</button> -->
                <button class="btn btn-green-custom" type="button" (click)="AbrirControlGlucosa()">CONTROL DEL PACIENTE DIABETICO</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirControlPresion()">CONTROL DEL PACIENTE HIPERTENSO</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirControlGeneral()">CONTROL DEL ADULTO MAYOR ESTABLE</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirControlEpoc()">CONTROL DE LA ENFERMEDAD PULMONAR OBSTRUCTIVA CRÓNICA</button>

              </div>					
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>