<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">REPORTE NOTAS DE EVOLUCION</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button> 
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>				
                </div>
                <div class="row">
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha atención : </label> <span>{{fechaHistoria | date: 'yyyy-MM-dd'}}</span>
                        </div>
                    </div>															
                </div>
            </div>
            <hr/>		

            <div id="seccion-medicacion" class="">
                <div id="seccion-signos-vitales">								
                    <div class="row mb-3 bg-green-custom" a="">1. SIGNOS VITALES</div>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group mb-3">
                                        <label class="cform-label">T(Cº)</label>
                                        <input type="text" class="form-control" formControlName="inputTemperatura" readonly>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group mb-3">
                                        <label class="cform-label">FC(min)</label>
                                        <input type="text" class="form-control" formControlName="inputFrecuenciaCardiaca" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">PA (Sistólica/diastólica) (mmHg)</label>
                                <div class="btn-group">
                                    <input type="text" class="form-control" formControlName="inputSistolica" readonly>
                                    <input type="text" class="form-control" id="" readonly="" placeholder="/" style="width: 33px;">
                                    <input type="text" class="form-control" formControlName="inputDiastolica" readonly>
                                </div>											
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">Sat. O2(%)</label>
                                <input type="text" class="form-control" formControlName="inputSaturacion" readonly>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">FR (x min)</label>
                                <input type="text" class="form-control" formControlName="inputFrecuenciaRespiratoria" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="seccion-soapie">								
                    <div class="row mb-3 bg-green-custom" a="">2. SOAPIE</div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group mb-3">
                                <label class="cform-label" for="">Subjetivos</label>
                                <input type="text" class="form-control" formControlName="inputSubjetivos" readonly>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group mb-3">
                                <label class="cform-label" for="">Objetivos</label>
                                <input type="text" class="form-control" formControlName="inputObjetivos" readonly>
                            </div>
                        </div>
                    </div>
                    <h6>INTERVENCIONES</h6>
                    <div class="row">
                        <div class="col-xl-11">
                            <div class="form-group mb-3">
                                <label class="cform-label">Medicación</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoMedicacion; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                    <hr/>
                    <div class="row">
                        <div class="col-xl-11">
                            <div class="form-group mb-3">
                                <label class="cform-label">Procedimiento</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoProcedimiento; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                    <hr/>
                    <div class="row">
                        <div class="col-xl-4 mt-1">
                            <h6> DIAGNÓSTICO DE ENFERMERIA</h6>
                        </div>
                    </div>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoDiagnostico; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                    <hr/>
                    <div class="row">
                        <div class="col-xl-4 mt-1">
                            <h6>PLANTEAMIENTO</h6>
                        </div>
                    </div>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoPlanteamiento; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <hr/>
                    <h6>OCURRENCIAS</h6>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoOcurrencia; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                    <hr/>
                    <h6>PENDIENTES</h6>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoPendiente; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                    <hr/>
                    <h6>EVALUACIÓN</h6>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoEvaluacion; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                    <hr/>
                    <h6>EGRESOS</h6>
                    <div class="row">
                        <div class="col-xl-11">
                            <div class="form-group mb-3">
                                <label class="cform-label">Diuresis</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoDiuresis; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                    <hr/>
                    <div class="row">
                        <div class="col-xl-11">
                            <div class="form-group mb-3">
                                <label class="cform-label">Deposición</label>
                             
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row box-shadow" *ngFor="let lista of listadoDeposicion; let i = index">
                        <div class="col-xl-12 fw-bold">{{lista.FechaNota | date: 'dd-MM-yyyy HH:mm'}}</div>
                        <div class="col-xl-10">{{lista.Nota}}</div>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
            		
        </form>
    </div>
    <div class="modal-footer">							
        <button type="button" class="btn btn-danger" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
      </div>
</div>