<div id="content">			
			
    <div class="card">
      <div class="card-header">
          <div class="header-card-table">LISTADO DE ATENCIONES</div>
      </div>
      <div class="card-body">	
        <form [formGroup]="dataFormGroup">			
          <div class="row">
              <div class="col-xl-10">
                  <div class="row">
                      <div class="col-xl-3">
                          <div class="form-group mb-3">
                              <label class="form-label mb-3" for="">Fecha inicio</label>
                              <input type="date" class="form-control" formControlName="inputFechaInicio"/>
                          </div>
                      </div>
                      <div class="col-xl-3">
                          <div class="form-group mb-3">
                              <label class="form-label mb-3" for="">Fecha fin</label>
                              <input type="date" class="form-control" formControlName="inputFechaFin"/>
                          </div>
                      </div>
                      <div class="col-xl-4">
                          <div class="form-group mb-3">
                              <label class="form-label mb-3" for="">Médico</label>
                              <select class="form-select" formControlName="inputMedico">
                                <option *ngFor="let combo of comboMedico" [value]="combo.id">
                                    {{combo.medico}}
                                </option>	
                            </select>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-2">
                  <div class="mt-4 pt-1">
                      <button type="button" class="btn btn-green-custom me-2" (click)="BuscarAtenciones()">
                          <i class="fas fa-lg fa-search"></i>
                      </button>
                      <button type="button" class="btn btn-green-custom me-2" (click)="Limpiar()">
                          <i class="fas fa-lg fa-eraser"></i>
                      </button>
                  </div>						
              </div>
          </div>

        </form>	
          <hr/>
          <div class="row" id="ver-cuadrilla">	
            <ng-container *ngFor="let lista of listadoAtencionBusqueda">
                <div class="col-xl-3 background-cuadrilla">
                    <div class="row mb-3 mt-3">
                        <div class="col-xl-10">
                            <p><strong>FECHA HISTORIA: </strong>{{lista.fechaInicioAtencion  | date: 'yyyy-MM-dd'}}</p>
                        </div>
                        <div class="col-xl-2 text-end">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Imprimir" aria-label="Imprimir"><i class="fas fa-lg fa-print"></i></button>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>MEDICO: </strong> {{lista.paciente}}</p>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>NRO DOCUMENTO: </strong> {{lista.numeroDocumento}}</p>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>MOTIVO: </strong>{{lista.motivoAtencion}}</p>
                        </div>
                        <div class="col-xl-12">
                            <p><strong>ESPECIALIDAD: </strong> {{lista.especialidadMedica}}</p>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="d-grid gap-2">
                                <!-- <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirControlSeguimiento()">Control de seguimiento</button> -->
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirExamenAuxiliar()">Examenes auxiliares</button>
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirControlesReporte(lista.idHistoriaClinica)">Reportes</button>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirHistoria(lista.idHistoriaClinica)">Historial de atención</button>
                                <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirRecetas(lista.idHistoriaClinica)">Recetas</button>
                                <!-- <button type="button" class="btn btn-green-custom btn-sm" (click)="AbrirControles(lista.idHistoriaClinica)">Datos monitoreo</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 text-center mt-3">
                            <button type="button" class="btn btn-warning-custom btn-sm" data-class="btnReprogramar" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Reprogramar cita" aria-label="Reprogramar cita"><i class="fas fa-lg fa-clock"></i></button>&nbsp;&nbsp;
                        </div>

                    </div>
                </div>
            </ng-container>
        </div>			  
      </div>
    </div>						
  </div>
  <!-- END #content -->
  <!-- BEGIN btn-scroll-top -->
  <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
  <!-- END btn-scroll-top -->
