<div class="container-spinner" *ngIf="verSpinner">
    <div class="spinner-border text-primary"></div>
</div>
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">REGISTRO GRÁFICO DE SIGNOS VITALES</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">							
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha : </label> <span></span>
                        </div>
                    </div>															
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>															
                </div>
            </div>
            <hr/>
            <div class="row mb-3 bg-green-custom">Signos vitales del paciente</div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">T(Cº)</label>
                                <input type="number" class="form-control" formControlName="inputTemperatura">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">FC(min)</label>
                                <input type="number" class="form-control" formControlName="inputFrecuenciaCardiaca">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">PA (Sistólica/diastólica) (mmHg)</label>
                                <div class="btn-group">
                                    <input type="number" class="form-control" formControlName="inputPresionSistolica">
                                    <input type="text" class="form-control" readonly="" placeholder="/" style="width: 33px;">
                                    <input type="number" class="form-control" formControlName="inputPresionDiastolica">
                                </div>											
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">Sat. O2(%)</label>
                                <input type="number" class="form-control" formControlName="inputSaturacion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">FR (x min)</label>
                                <input type="number" class="form-control" formControlName="inputFrecuenciaRespiratoria">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">Oxigeno (Litro x min)</label>
                                <input type="number" class="form-control" formControlName="inputOxigeno">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group mb-3">
                                        <label class="cform-label">Peso (kg)</label>
                                        <input type="number" class="form-control" formControlName="inputPeso">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group mb-3">
                                        <label class="cform-label">Deposiciones</label>
                                        <input type="number" class="form-control" formControlName="inputDeposiciones">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">Orina</label>
                                <input type="number" class="form-control" formControlName="inputOrina">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">Ingresos</label>
                                <input type="number" class="form-control" formControlName="inputIngresos">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">Egresos</label>
                                <input type="number" class="form-control" formControlName="inputEgresos">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group mb-3">
                                <label class="cform-label">Total de BH</label>
                                <input type="number" class="form-control" formControlName="inputTotalBH">
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class="form-group mb-3 mt-4">													
                                <button type="button" class="btn btn-green-custom" (click)="Agregar()"><i class="fas fa-lg fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row mb-3 bg-green-custom">Signos vitales</div>
            <div class="table-responsive">
                <table class="table table-bordered mb-2">
                    <tr>
                      <th>FUNCIONES</th>
                      <!-- <th *ngFor="let item of objSignoVitalHoja">Registro {{ objSignoVitalHoja.indexOf(item) + 1 }}</th> -->
                    </tr>
                    <tr *ngFor="let header of headers">
                      <td>{{ header }}</td>
                      <td *ngFor="let item of objSignoVitalHoja">
                        {{ item[header] }}
                      </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-target="#modal-hospitalizacion"  data-bs-dismiss="modal" (click)="Guardar()"><i class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>														
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-hospitalizacion"  data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>