<div class="container-spinner" *ngIf="verSpinner">
  <div class="spinner-border text-primary"></div>
</div>
<div class="modal-content">
    <!-- <div class="modal-header">
      <h5 class="modal-title">REPORTES</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CerrarModal()"></button>
    </div> -->
    <div class="modal-body">
      <div class="row">
        <h5 class="modal-title">REPORTES ENFERMERA</h5>
        <br>
        <br>
        <div class="col-xl-12">
            <div class="d-grid gap-2"> 
                <!-- <button class="btn btn-green-custom" type="button" (click)="AbrirNotaEnfermera()">NOTAS DE ENFERMERA</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirActividadTecnica()">ACTIVIDAD DEL PERSONAL TÉCNICO</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirEpicrisis()">EPICRISIS</button> -->
                <!-- <button class="btn btn-green-custom" type="button" (click)="AbrirKardex()">KARDEX</button> -->
                <button class="btn btn-green-custom" type="button" (click)="AbrirNotaEvolucion()">NOTAS DE EVOLUCION</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirHojaMonitoreo()">HOJA DE MONITOREO DE SIGNOS</button>
                <button class="btn btn-green-custom" type="button" (click)="AbrirBalanceHidrico()">BALANCE HIDRICO</button>

            </div>					
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>