<div id="content">
    <div class="card">
      <div class="card-header">
          <div class="header-card-table">ATENCIONES</div>
      </div>
      <div class="card-body">
        <form [formGroup]="dataFormGroup">
            <div class="row">
                <div class="col-xl-12 text-right">
                    <!-- <button *ngIf="sinAperturaCaja" type="button" class=" btn btn-green-custom" (click)="InsertarCaja()"><i class="fas fa-lg fa-fw me-2 fa-box-open"></i>Abrir caja</button>&nbsp;&nbsp;&nbsp; -->
                    
                    <button type="button" class=" btn btn-green-custom" (click)="nuevoControl($event)"><i class="fas fa-lg fa-fw me-2 fa-plus"></i>Agregar Control</button>&nbsp;&nbsp;&nbsp;
                    
                    &nbsp;&nbsp;&nbsp;
                </div>
            </div>		
          <div class="row">
              <div class="col-xl-2">
                  <div class="form-group mb-3">
                      <label class="form-label mb-3" for="">Nro. documento</label>
                      <input type="text" class="form-control" formControlName="inputNumeroDocumento"/>
                  </div>
              </div>
              <div class="col-xl-3">
                  <div class="form-group mb-3">
                      <label class="form-label mb-3" for="">Paciente</label>
                      <select class="form-select" formControlName="selectPaciente">
                            <option *ngFor="let combo of comboPaciente" [value]="combo.id">
                                {{combo.nombre}}
                            </option>										
                      </select>
                  </div>
              </div>
              <div class="col-xl-2">
                  <div class="form-group mb-3">
                      <label class="form-label mb-3" for="">Fecha inicio</label>
                      <select class="form-select" formControlName="selectMonitoreo">
                        <option value="1">Gestante I trimestre</option>
                        <option value="2">Gestantes II trimestre</option>
                        <option value="3">Gestante III trimestre</option>
                        <option value="4">ARO</option>
                      </select>
                  </div>
              </div>
              <div class="col-xl-3">
                <div class="mt-4 pt-1">
                    <button type="button" class="btn btn-green-custom me-2" (click)="BuscarAtenciones()">
                        <i class="fas fa-lg fa-search"></i>
                    </button>
                    <button type="button" class="btn btn-green-custom me-2" (click)="Limpiar()">
                        <i class="fas fa-lg fa-eraser"></i>
                    </button>
                </div>						
            </div>
          </div>

          <div class="table-responsive" id="ver-tabla">
              <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td style="text-align: center;"  rowspan="2">NRO</td>
                            <td style="text-align: center;"  rowspan="2">PACIENTE</td>
                            <td style="text-align: center;"  rowspan="2">CELULAR</td>
                            <td colspan="2" style="text-align: center;">EDAD GESTACIONAL</td>
                            <td style="text-align: center;"  rowspan="2">ÚLTIMO CONTROL</td>
                            <td style="text-align: center;"  rowspan="2">ACCIONES</td>
                        </tr>
                        
                    </thead>
                    <tbody id="table-body">
                        <tr *ngFor="let lista of listadoAtencionBusqueda; index as s">
                            <td>{{s + 1 }}</td>
                            <td>{{lista.paciente}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm" tooltip="Control PreNatal" (click)="AbrirControlPreNatal(lista.idHistoriaClinica)"><i class="fas fa-lg fa-user-plus"></i></button> &nbsp;&nbsp;                
                                <button type="button" class="btn btn-secondary btn-sm" tooltip="Historial Clínico" (click)="AbrirHistorial(lista.idHistoriaClinica)"><i class="fas fa-lg fa-tasks"></i></button>&nbsp;&nbsp;                                
                                <button type="button" class="btn btn-secondary btn-sm" tooltip="Funciones Vitales" (click)="AbrirFuncionPaciente(lista.idHistoriaClinica)"><i class="fas fa-lg fa-user-shield"></i></button>&nbsp;&nbsp;                
                                <button type="button" class="btn btn-secondary btn-sm" tooltip="Seguimiento de Análisis"><i class="fas fa-lg fa-pills"></i></button>&nbsp;&nbsp;    
                            </td>
                        </tr>
                    </tbody>
              </table>
          </div>	
        </form>
      </div>
    </div>						
  </div>
  <!-- END #content -->
  <!-- BEGIN btn-scroll-top -->
  <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
  <!-- END btn-scroll-top -->