<form autocomplete="off" novalidate="novalidate" [formGroup]="dataFormGroup">
    <div class="row" *ngIf="idRol==3">    <!--DASHBOARD PACIENTE-->
        <h2>{{nombreUsuario}} Bienvenido(a) a CuidadoVital</h2>
        <span>Una aplicación segura y práctica para el cuidado de tu salud</span>
        <h2></h2>
        <div class="col-xl-3">
                <!-- BEGIN card -->
                <div class="card mb-3">
                    <!-- BEGIN card-body -->
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <div class="row">
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <h2>Saturación de Oxígeno</h2>
                            </div>
                            <hr/>
                            <div class="col-xl-12 text-center">
                                <div>
                                    <img src="./assets/img/Saturacion-de-Oxigeno.png" class="img-fit"/>
                                  <!--   <button (click)="login()">Iniciar sesión con Google</button>
                                    <button (click)="fetchHeartRateData()">Obtener datos de Google Fit</button> -->
                                    
                                    <div *ngIf="oxygenSaturation">
                                        <h1> {{ oxygenSaturation }}</h1>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <!-- END card-body -->
                </div>
                <!-- END card --> 
        </div> 
        <div class="col-xl-3">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="flex-grow-1">
                            <div class="row">
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <h2>Frecuencia Cardíaca</h2>
                        </div>
                        <hr/>
                        <div class="col-xl-12 text-center">
                            <div>
                                <img src="./assets/img/Frecuencia-Cardiaca.png" class="img-fit"/>
                                <button (click)="login()">Iniciar sesión con Google</button>
                                <button (click)="fetchHeartRateData()">Obtener datos de Google Fit</button>
                                
                                <div *ngIf="heartRate">
                                    <h1> {{ heartRate }} bpm</h1>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <!-- END card-body -->
            </div>
            <!-- END card --> 
        </div>   
        <div class="col-xl-3">
            <!-- BEGIN card -->
            <div class="card mb-3">
                <!-- BEGIN card-body -->
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="flex-grow-1">
                            <div class="row">
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <h2>Presión Arterial</h2>
                        </div>
                        <hr/>
                        <div class="col-xl-12 text-center">
                            <div>
                                <img src="./assets/img/Presion-Arterial.png" class="img-fit"/>
                                <!-- <button (click)="login()">Iniciar sesión con Google</button>
                                <button (click)="fetchHeartRateData()">Obtener datos de Google Fit</button> -->
                                
                                <div *ngIf="systolic">
                                    <h1> Sistólica {{ systolic }} </h1>
                                    <h1> Diastólica {{diastolic}} </h1>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <!-- END card-body -->
            </div>
            <!-- END card --> 
        </div> 
    </div>
    <div class="row" *ngIf="idRol==1">    <!--DASHBOARD MEDICO-->
            <h3>Bienvenido a CuidadoVital</h3>
            <hr>
            <h4>Dr.(a) {{nombreUsuario}}</h4>
    </div>
    <div class="row" *ngIf="idRol==4">    <!--DASHBOARD ADMIN-->
           <h2>DASHBOARD ADMIN</h2>
    </div>
    <div class="row" *ngIf="idRol==2">    <!--DASHBOARD ADMIN-->
        <h3>Perfil Asistencial CUIDADO VITAL</h3>
        <hr>
        <h4>Lic. {{nombreUsuario}}</h4>
    </div>
</form>