<div class="container-spinner" *ngIf="verSpinner">
    <div class="spinner-border text-primary"></div>
  </div>
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">FUNCIONES DEL PACIENTE </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">							
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha : </label> <span>{{fechaHoy| date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>															
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>															
                </div>
            </div>
            <hr/>
            <div id="seccion-signos-vitales">								
                <div class="row mb-3 bg-green-custom" a="">Presión Arterial (mmHg) Derecho</div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group mb-3">  
                            <input type="text" class="form-control" formControlName="inputPresionArterial" readonly>
                            <label class="cform-label">mmHg</label>
                            											
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label">IA Sugerencias</label>
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="seccion-signos-vitales">								
                <div class="row mb-3 bg-green-custom" a="">Presión Arterial (mmHg) Izquierda</div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group mb-3">  
                            <input type="text" class="form-control" formControlName="inputPresionArterialIzquierda" readonly>
                            <label class="cform-label">mmHg</label>
                            											
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label">IA Sugerencias</label>
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="seccion-soapie">								
                <div class="row mb-3 bg-green-custom" a="">Frecuencia Cardiaca</div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" formControlName="inputFrecuenciaCardiaca" readonly>
                            <label class="cform-label" for="">min</label>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">IA Sugerencias</label>
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="seccion-soapie">								
                <div class="row mb-3 bg-green-custom" a="">Frecuencia Respiratoria</div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" formControlName="inputFrecuenciaRespiratoria" readonly>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="cform-label" for="">IA Sugerencias</label>
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">							
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
      </div>
</div>