<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">HISTORIAL DE ATENCIÓN</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">							
        <form>
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Médico : </label> <span>{{medico}}</span>
                        </div>
                    </div>				
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Paciente : </label> <span>{{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro. HCL : </label> <span>{{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Fecha atención : </label> <span>{{fechaHistoria | date: 'yyyy-MM-dd'}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            
                        </div>
                    </div>																
                </div>
            </div>
            <hr/>							
            <br>
            <div class="mb-3 bg-green-custom">I. SIGNOS VITALES</div>
            <div class="col-xl-12 mb-3">
                <ng-container>
                    <div class="box-shadow mt-3">
                        <div class="row">
                            <div class="col-xl-3 mt-2 "><strong>Temperatura: </strong>{{objFuncionVital.Temperatura}} °C</div>
                            <div class="col-xl-3 mt-2"><strong>Frecuencia cardiaca: </strong>{{objFuncionVital.FrecuenciaCardiaca}} x
                                min.</div>
                            <div class="col-xl-3 mt-2"><strong>Presión arterial:
                                </strong>{{objFuncionVital.PresionArterialSistolica}}/{{objFuncionVital.PresionArterialDistolica}}
                                mmhg</div>
                            <div class="col-xl-3 mt-2"><strong>Saturación de oxígeno : </strong>{{objFuncionVital.SaturacionOxigeno}}
                                %</div>
                            <div class="col-xl-3 mt-2"><strong>Frecuencia respiratoria:
                                </strong>{{objFuncionVital.FrecuenciaRespiratoria}} x
                                min.</div>
                            <div class="col-xl-3 mt-2"><strong>Talla: </strong>{{objFuncionVital.Talla}} m</div>
                            <div class="col-xl-3 mt-2"><strong>Peso: </strong>{{objFuncionVital.Peso}} kg</div>
                            <div class="col-xl-3 mt-2"><strong>Indice masa corporal: </strong>{{objFuncionVital.IMC}} kg/m² </div>
                            <div class="col-xl-3 mt-2"><strong>Peso habitual: </strong>{{objFuncionVital.PesoHabitual}} kg</div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <br/>
            <div class="mb-3 bg-green-custom">II.  DIAGNÓSTICO DEFINITIVO - PRESUNTIVO - REPETITIVO</div>						
            <div class="col-xl-12"  *ngFor="let lista of objDiagnostico">
                <div class="box-shadow mb-3">
                    <div class="row">
                        <div class="col-xl-11">
                            <div class="col-xl-12 fw-bold">{{lista.TipoDiagnostico}}</div>
                            <div class="col-xl-12">{{lista.CodigoCie10}}</div>
                            <div class="col-xl-12">{{lista.NombreDiagnostico}}</div>
                            <hr>
                          
                        </div>
                    </div>
                </div>
            </div>   
            <br/>
            <div class="mb-3 bg-green-custom">III. CONTROLES</div>
            <div class="col-xl-12 mb-3" *ngIf="objControlGeneral.length != 0">
                <strong>CONTROL GENERAL</strong>
                <ng-container *ngFor="let lista of objControlGeneral">
                    <div class="box-shadow mt-3">
                        <div class="row">
                            <div class="col-xl-12 mt-2 "><strong>Alergias: </strong>{{lista.Alergias}}</div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-3 mt-2 "><strong>Temperatura: </strong>{{lista.Temperatura}} °C</div>

                            <div class="col-xl-3 mt-2"><strong>Talla: </strong>{{lista.Talla}} m</div>
                            <div class="col-xl-3 mt-2"><strong>Peso: </strong>{{lista.Peso}} kg</div>

                        </div>
                        <hr>
                        <div class="row">
                            
                            <div class="col-xl-6 mt-2 "><strong>Estado de Nutricional: </strong>{{lista.EstadoNutricional}} - {{lista.EstadoNutricionalDetalle}}</div>
                            <div class="col-xl-6 mt-2 "><strong>Estado de Psicosocial: </strong>{{lista.EstadoPsicosocial}} - {{lista.EstadoPsicosocialDetalle}}</div>
                            <div class="col-xl-6 mt-2 "><strong>Estado de Vision: </strong>{{lista.EstadoVision}} - {{lista.EstadoVisionDetalle}}</div>
                            <div class="col-xl-6 mt-2 "><strong>Estado de Audición: </strong>{{lista.EstadoAudicion}} - {{lista.EstadoAudicionDetalle}}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-12 mt-2 "><strong>Plan de Trabajo: </strong>{{lista.PlanTrabajo}}</div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
    <div class="modal-footer">		
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>