<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">CONTROL DEL ADULTO MAYOR ESTABLE</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nombre Paciente : </label> <span> {{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro HCL: </label><span> {{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Medico: </label><span>{{medico}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div id="content-section">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label class="cform-label">Alergias</label>
                        <input type="text" class="form-control mt-2" formControlName="inputAlergias" style="background-color: rgb(177, 239, 218); border-radius: 15px; box-shadow: inset 0 4px 8px 1px rgb(0, 0,0, 0.5);">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Escala de Katz*</h6>
                        <div class="row">
                            <div class="col-6">
                                <label class="cform-label">Baño</label>
                                <p-dropdown 
                                    formControlName="selectBanio"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Vestido</label>
                                <p-dropdown 
                                    formControlName="selectVestido"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Uso del WC</label>
                                <p-dropdown 
                                    formControlName="selectWC"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Movilidad</label>
                                <p-dropdown 
                                    formControlName="selectMovilidad"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Continencia</label>
                                <p-dropdown 
                                    formControlName="selectContinencia"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Alimentación</label>
                                <p-dropdown 
                                    formControlName="selectAlimentacion"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Resultado Escala de Katz</h6>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-katz" type="radio" id=""
                                    value="option1" checked>
                                <label class="form-check-label" for="">Dependiente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-katz" type="radio" id=""
                                    value="option1">
                                <label class="form-check-label" for="">Independiente</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEscalaKatz"></textarea>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Medidas Antropométricas*</h6>
                        <div class="row">
                            <div class="col-4">
                                <label class="cform-label">T (Cº)</label>
                                <input type="number" class="form-control" formControlName="inputTemperatura">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">FC (min)</label>
                                <input type="number" class="form-control" formControlName="inputFrecuenciaCardiaca">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">FR (x min)</label>
                                <input type="number" class="form-control" formControlName="inputFrecuenciaRespiratoria">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">PA (Sistolica/diastolica) (mmHg)</label>
                                <input type="number" class="form-control" formControlName="inputPresionSistolicaDiastolica">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">PA (Diastolica) (mmHg)</label>
                                <input type="number" class="form-control" formControlName="inputPresionDiastolica">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Sat. O2%</label>
                                <input type="number" class="form-control" formControlName="inputSaturacion">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Peso (kg)</label>
                                <input type="number" class="form-control" formControlName="inputPeso" (blur)="CalcularIndiceMasaCorporal()">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Talla</label>
                                <input type="number" class="form-control" formControlName="inputTalla" (blur)="CalcularIndiceMasaCorporal()">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">IMC</label>
                                <input type="number" class="form-control" formControlName="inputImc" (click)="CalcularIndiceMasaCorporal()" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Valoraciòn Mental y Emocional*</h6>
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless">
                                <thead class="text-center">
                                    <tr>
                                        <th></th>
                                        <th>Resp. Adecuada</th>
                                        <th>Resp. Equivocada</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td class="text-left">¿Què fecha es Hoy? (dd/mm/aa)</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option1"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option2"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Que dia de la Semana es?</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option3"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option4"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿En que lugar estamos?</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option5"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option6"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cúal es su numero de telefono?</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option7"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option8"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cúal es su direccion completa?</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option9"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option10"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cuantos años tiene?</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option11"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option12"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Donde Nacio?</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option13"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option14"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cual es el nombre del presidente?</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option15"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option16"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Digame el primer apellido de su madre</td>
                                        <td><input class="form-check-input" type="radio" id="" value="option17"></td>
                                        <td><input class="form-check-input" type="radio" id="" value="option18"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Resultado de Valoracion Mental</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-valoracionmental" type="radio" id=""
                                    value="option1" checked>
                                <label class="form-check-label" for="">Normal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-valoracionmental" type="radio" id=""
                                    value="option1">
                                <label class="form-check-label" for="">Alterado</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoMentalDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Caida dentro de los 6 meses</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-caida" type="radio" id=""
                                    value="option1" checked>
                                <label class="form-check-label" for="">NO</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-caida" type="radio" id=""
                                    value="option1">
                                <label class="form-check-label" for="">SI</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Nutricional*</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-nutricional" type="radio" id=""
                                    value="option1" checked>
                                <label class="form-check-label" for="">Normal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-nutricional" type="radio" id=""
                                    value="option1">
                                <label class="form-check-label" for="">Alterado</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoNutricionalDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Psicosocial*</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-psicosocial" type="radio" id=""
                                    value="option1" checked>
                                <label class="form-check-label" for="">Normal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-psicosocial" type="radio" id=""
                                    value="option1">
                                <label class="form-check-label" for="">Alterado</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoPsicosocialDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Vision*</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-vision" type="radio" id=""
                                    value="option1" checked>
                                <label class="form-check-label" for="">Normal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-vision" type="radio" id=""
                                    value="option1">
                                <label class="form-check-label" for="">Alterado</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoVisionDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Audición*</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-audicion" type="radio" id=""
                                    value="option1" checked>
                                <label class="form-check-label" for="">Normal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="rad-audicion" type="radio" id=""
                                    value="option1">
                                <label class="form-check-label" for="">Alterado</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoAudicion"></textarea>
                    </div>
                </div>


                
                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Plan de Trabajo</h6>
                        <textarea name="" id="" class="form-control" formControlName="inputPlanTrabajo"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="Guardar()"><i
                class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>