<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">CONTROL DEL ADULTO MAYOR ESTABLE</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataFormGroup">
            <div id="header-component">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nombre Paciente : </label> <span> {{paciente}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Nro HCL: </label><span> {{nroHcl}}</span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group mb-3">
                            <label class="fw-bold">Medico: </label><span>{{medico}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div id="content-section">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label class="cform-label">Alergias</label>
                        <input type="text" class="form-control mt-2" formControlName="inputAlergias" style="background-color: rgb(177, 239, 218); border-radius: 15px; box-shadow: inset 0 4px 8px 1px rgb(0, 0,0, 0.5);">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Escala de Katz*</h6>
                        <div class="row">
                            <div class="col-6">
                                <label class="cform-label">Baño</label>
                                <p-dropdown 
                                    formControlName="selectBanio"
                                    [options]="comboBanio" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Vestido</label>
                                <p-dropdown 
                                    formControlName="selectVestido"
                                    [options]="comboVestido" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Uso del WC</label>
                                <p-dropdown 
                                    formControlName="selectWC"
                                    [options]="comboWC" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Movilidad</label>
                                <p-dropdown 
                                    formControlName="selectMovilidad"
                                    [options]="comboMovilidad" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Continencia</label>
                                <p-dropdown 
                                    formControlName="selectContinencia"
                                    [options]="comboContinencia" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                            <div class="col-6">
                                <label class="cform-label">Alimentación</label>
                                <p-dropdown 
                                    formControlName="selectAlimentacion"
                                    [options]="comboAlimentacion" 
                                    optionLabel="nombre" 
                                    optionValue="id"
                                    [showClear]="true" 
                                    styleClass="w-full" 
                                    placeholder="Selecciona"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Resultado Escala de Katz</h6>
                        <div class="form-group">
                            <div class="form-check form-check-inline" *ngFor="let combo of comboResultadoKatz">
                                <input class="form-check-input" name="inputEscalaKatz" type="radio" id="inputEscalaKatz" formControlName="inputEscalaKatz" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEscalaKatzDetalle"></textarea>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Medidas Antropométricas*</h6>
                        <div class="row">
                            <div class="col-4">
                                <label class="cform-label">T (Cº)</label>
                                <input type="number" class="form-control" formControlName="inputTemperatura">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">FC (min)</label>
                                <input type="number" class="form-control" formControlName="inputFrecuenciaCardiaca">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">FR (x min)</label>
                                <input type="number" class="form-control" formControlName="inputFrecuenciaRespiratoria">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">PA (Sistolica) (mmHg)</label>
                                <input type="number" class="form-control" formControlName="inputPresionSistolica">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">PA (Diastolica) (mmHg)</label>
                                <input type="number" class="form-control" formControlName="inputPresionDiastolica">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Sat. O2%</label>
                                <input type="number" class="form-control" formControlName="inputSaturacion">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Peso (kg)</label>
                                <input type="number" class="form-control" formControlName="inputPeso" (blur)="CalcularIndiceMasaCorporal()">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">Talla</label>
                                <input type="number" class="form-control" formControlName="inputTalla" (blur)="CalcularIndiceMasaCorporal()">
                            </div>
                            <div class="col-4">
                                <label class="cform-label">IMC</label>
                                <input type="number" class="form-control" formControlName="inputImc" (click)="CalcularIndiceMasaCorporal()" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6>Valoraciòn Mental y Emocional*</h6>
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless">
                                <thead class="text-center">
                                    <tr>
                                        <th></th>
                                        <th>Resp. Adecuada</th>
                                        <th>Resp. Equivocada</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td class="text-left">¿Què fecha es Hoy? (dd/mm/aa)</td>
                                        <td><input class="form-check-input" type="radio" id="inputFechaAdecuada" value="inputFechaAdecuada" formControlName="inputFechaAdecuada" (click)="AsignarFecha(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputFechaEquivocada" value="inputFechaEquivocada" formControlName="inputFechaEquivocada" (click)="AsignarFecha(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Que dia de la Semana es?</td>
                                        <td><input class="form-check-input" type="radio" id="inputDiaAdecuada" value="inputDiaAdecuada" formControlName="inputDiaAdecuada" (click)="AsignarDia(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputDiaEquivocada" value="inputDiaEquivocada" formControlName="inputDiaEquivocada" (click)="AsignarDia(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿En que lugar estamos?</td>
                                        <td><input class="form-check-input" type="radio" id="inputLugarAdecuada" value="inputLugarAdecuada" formControlName="inputLugarAdecuada" (click)="AsignarLugar(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputLugarEquivocada" value="inputLugarEquivocada" formControlName="inputLugarEquivocada" (click)="AsignarLugar(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cúal es su numero de telefono?</td>
                                        <td><input class="form-check-input" type="radio" id="inputNumeroAdecuada" value="inputNumeroAdecuada" formControlName="inputNumeroAdecuada" (click)="AsignarNumero(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputNumeroEquivocada" value="inputNumeroEquivocada" formControlName="inputNumeroEquivocada" (click)="AsignarNumero(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cúal es su direccion completa?</td>
                                        <td><input class="form-check-input" type="radio" id="inputDireccionAdecuada" value="inputDireccionAdecuada" formControlName="inputDireccionAdecuada" (click)="AsignarDireccion(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputDireccionEquivocada" value="inputDireccionEquivocada" formControlName="inputDireccionEquivocada" (click)="AsignarDireccion(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cuantos años tiene?</td>
                                        <td><input class="form-check-input" type="radio" id="inputAniosAdecuada" value="inputAniosAdecuada" formControlName="inputAniosAdecuada" (click)="AsignarAnios(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputAniosEquivocada" value="inputAniosEquivocada" formControlName="inputAniosEquivocada" (click)="AsignarAnios(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Donde Nacio?</td>
                                        <td><input class="form-check-input" type="radio" id="inputDondeNacioAdecuada" value="inputDondeNacioAdecuada" formControlName="inputDondeNacioAdecuada" (click)="AsignarLugarNacio(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputDondeNacioEquivocada" value="inputDondeNacioEquivocada" formControlName="inputDondeNacioEquivocada" (click)="AsignarLugarNacio(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">¿Cual es el nombre del presidente?</td>
                                        <td><input class="form-check-input" type="radio" id="inputNombrePresidenteAdecuada" value="inputNombrePresidenteAdecuada" formControlName="inputNombrePresidenteAdecuada" (click)="AsignarPresidente(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputNombrePresidenteEquivocada" value="inputNombrePresidenteEquivocada" formControlName="inputNombrePresidenteEquivocada" (click)="AsignarPresidente(2)"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Digame el primer apellido de su madre</td>
                                        <td><input class="form-check-input" type="radio" id="inputPrimerApellidoAdecuada" value="inputPrimerApellidoAdecuada" formControlName="inputPrimerApellidoAdecuada" (click)="AsignarPrimerApellido(1)"></td>
                                        <td><input class="form-check-input" type="radio" id="inputPrimerApellidoEquivocada" value="inputPrimerApellidoEquivocada" formControlName="inputPrimerApellidoEquivocada" (click)="AsignarPrimerApellido(2)"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Resultado de Valoracion Mental</label>
                            <div class="form-check form-check-inline" *ngFor="let combo of comboEstado">
                                <input class="form-check-input" name="inputEstadoMental" type="radio" id="inputEstadoMental" formControlName="inputEstadoMental" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoMentalDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Caida dentro de los 6 meses</label>
                            <div class="form-check form-check-inline" *ngFor="let combo of comboSiNo">
                                <input class="form-check-input" name="inputCaida" type="radio" id="inputCaida" formControlName="inputCaida" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputCaidaDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Nutricional*</label>
                            <div class="form-check form-check-inline" *ngFor="let combo of comboEstado">
                                <input class="form-check-input" name="inputEstadoNutricional" type="radio" id="inputEstadoNutricional" formControlName="inputEstadoNutricional" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoNutricionalDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Psicosocial*</label>
                            <div class="form-check form-check-inline" *ngFor="let combo of comboEstado">
                                <input class="form-check-input" name="inputEstadoPsicosocial" type="radio" id="inputEstadoPsicosocial" formControlName="inputEstadoPsicosocial" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoPsicosocialDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Vision*</label>
                            <div class="form-check form-check-inline" *ngFor="let combo of comboEstado">
                                <input class="form-check-input" name="inputEstadoVision" type="radio" id="inputEstadoVision" formControlName="inputEstadoVision" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoVisionDetalle"></textarea>
                    </div>
                    <div class="col-xl-12 mt-3">
                        <div class="form-group mb-3">
                            <label class="cform-label block">Estado de Audición*</label>
                            <div class="form-check form-check-inline" *ngFor="let combo of comboEstado">
                                <input class="form-check-input" name="inputEstadoAudicion" type="radio" id="inputEstadoAudicion" formControlName="inputEstadoAudicion" [value]="combo.id">
                                <label class="form-check-label" for=""> {{combo.nombre}}</label>
                            </div>
                        </div>
                        <textarea name="" id="" class="form-control" formControlName="inputEstadoAudicionDetalle"></textarea>
                    </div>
                </div>


                
                <div class="row">
                    <div class="col-12 mt-3">
                        <h6>Plan de Trabajo</h6>
                        <textarea name="" id="" class="form-control" formControlName="inputPlanTrabajo"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green-custom" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="Guardar()"><i
                class="fas fa-lg fa-fw me-2 fa-save"></i>Guardar</button>
        <!-- <button type="button" class="btn btn-green-light-custom"><i class="fas fa-file-pdf"></i> Imprimir</button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CerrarModal()"><i class="fas fa-lg fa-fw me-2 fa-sign-out-alt"></i>Salir</button>
    </div>
</div>